.parent-caeds{
    .container{
        .card{
            height: 100%;
            .card-img{
                img{
                    width: 63.387px;
                    height: 56.001px;
                }
            }
        }
    }
}