
@font-face {
    font-family: 'Somar Sans';
    src: url('../../static/font/SomarSans-Bold.woff2') format('woff2'),
        url('../../static/font/SomarSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Somar Sans';
    src: url('../../static/font/SomarSans-Bold.woff2') format('woff2'),
        url('../../static/font/SomarSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Somar Sans';
    src: url('../../static/font/SomarSans-Medium.woff2') format('woff2'),
        url('../../static/font/SomarSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Somar Sans';
    src: url('../../static/font/SomarSans-Medium.woff2') format('woff2'),
        url('../../static/font/SomarSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Somar Sans';
    src: url('../../static/font/SomarSans-Regular.woff2') format('woff2'),
        url('../../static/font/SomarSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Somar Sans';
    src: url('../../static/font/SomarSans-Regular.woff2') format('woff2'),
        url('../../static/font/SomarSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Somar Sans';
    src: url('../../static/font/SomarSans-SemiBold.woff2') format('woff2'),
        url('../../static/font/SomarSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Somar Sans';
    src: url('../../static/font/SomarSans-SemiBold.woff2') format('woff2'),
        url('../../static/font/SomarSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

