extends ../Layouts/default.pug
block content
    include ../components/The-Header.pug
    section.Ad-mnagment-services-intro
        .container 
            .row
                .col-lg-6.pb-5
                    .content-element
                        .element-title
                            h1.color-darck.font-w-lg.font-lg.line-sm حقق نمو مبيعات متجرك عبر إدارة متكاملة لإعلاناتك
                        .element-text.pb-4 
                            p.color-darck.font-smole.font-w-sm كن أحد عملائنا الذين حققوا عائد على الإعلانات أكثر من 9 أضعاف المصروفات
                        .element-btn.btn-primary
                            a(href="#" class="color-wight font-xs font-w-md bg-blue") اطلب استشارة مجانية   
                .col-lg-6.pb-5
                    .content-img
                        img(src="../static/Ad-mnagement-imgs/img-intro.svg", alt="intro-img" class="img-fluid")
    include ../components/More than just an advertising campaign.pug                    
    include ../components/The-Campaign management team.pug
    section.How-our-clients-achieve-returns
        .container 
            .content-element 
                .element-title 
                    h3.color-dark.font-md.font-w-md.text-centert كيف حقق عملائنا عوائد وصلت 9X على الإعلانات              
            .row
                .col-lg-6.pb-4
                    .card.padding-card.border-0.bg-card.border-r-sm
                        .card-img
                           svg(xmlns="http://www.w3.org/2000/svg", width="59", height="46", viewBox="0 0 59 46", fill="none")
                                g(clip-path="url(#clip0_606_7048)")
                                    path(d="M8.125 42.6968V26.1562H38.3422C40.0046 26.1562 41.3452 27.2098 41.3452 28.5004V38.6538C41.3452 40.9716 39.6158 42.9338 37.2831 43.2762L25.4054 45.0014L11.4363 42.6968", fill="#F8F8F8")
                                    path(d="M8.125 42.6968V26.1562H38.3422C40.0046 26.1562 41.3452 27.2098 41.3452 28.5004V38.6538C41.3452 40.9716 39.6158 42.9338 37.2831 43.2762L25.4054 45.0014L11.4363 42.6968", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M10.9258 41.9588L10.9258 26.1294C10.9258 25.4021 10.3256 24.8125 9.58518 24.8125H2.34591C1.60552 24.8125 1.00531 25.4021 1.00531 26.1294L1.00531 41.9588C1.00531 42.6861 1.60552 43.2757 2.34591 43.2757H9.58518C10.3256 43.2757 10.9258 42.6861 10.9258 41.9588Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M33.0739 32.2791L44.6701 28.9605C45.9973 28.5786 46.7749 27.209 46.3861 25.9052C45.9973 24.6015 44.6031 23.8377 43.2759 24.2196L31.6797 27.5382", fill="#F8F8F8")
                                    path(d="M33.0739 32.2791L44.6701 28.9605C45.9973 28.5786 46.7749 27.209 46.3861 25.9052C45.9973 24.6015 44.6031 23.8377 43.2759 24.2196L31.6797 27.5382", stroke="#4832D9", stroke-miterlimit="10")
                                    path(d="M34.0116 35.7044L47.3238 31.9907C48.6644 31.622 49.442 30.2392 49.0532 28.9223L48.8655 28.2638C48.4767 26.9601 47.0959 26.2094 45.7687 26.5782L32.4297 30.3051", fill="#F8F8F8")
                                    path(d="M34.0116 35.7044L47.3238 31.9907C48.6644 31.622 49.442 30.2392 49.0532 28.9223L48.8655 28.2638C48.4767 26.9601 47.0959 26.2094 45.7687 26.5782L32.4297 30.3051", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M34.8026 39.0751L50.4877 34.6107C51.8283 34.2288 52.5924 32.8592 52.2037 31.5554L52.016 30.9365C51.6272 29.6327 50.233 28.8689 48.9058 29.2508L33.2207 33.7152", fill="#F8F8F8")
                                    path(d="M34.8026 39.0751L50.4877 34.6107C51.8283 34.2288 52.5924 32.8592 52.2037 31.5554L52.016 30.9365C51.6272 29.6327 50.233 28.8689 48.9058 29.2508L33.2207 33.7152", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M35.5933 43.5263L55.9437 38.1928C57.4586 37.7582 58.3166 36.2174 57.8742 34.7293C57.4318 33.2412 55.8633 32.3984 54.3484 32.833L34.5879 38.3772", fill="#F8F8F8")
                                    path(d="M35.5933 43.5263L55.9437 38.1928C57.4586 37.7582 58.3166 36.2174 57.8742 34.7293C57.4318 33.2412 55.8633 32.3984 54.3484 32.833L34.5879 38.3772", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M15.0554 35.5195H29.4938C31.0623 35.5195 32.3358 34.2685 32.3358 32.7277C32.3358 31.1869 31.0623 29.9358 29.4938 29.9358H15.0554L11.4492 26.1562", fill="#F8F8F8")
                                    path(d="M15.0554 35.5195H29.4938C31.0623 35.5195 32.3358 34.2685 32.3358 32.7277C32.3358 31.1869 31.0623 29.9358 29.4938 29.9358H15.0554L11.4492 26.1562", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M15.0554 35.5156H29.4938C31.0623 35.5156 32.3358 34.2646 32.3358 32.7238C32.3358 31.183 31.0623 29.9319 29.4938 29.9319H15.0554L11.4492 26.1523", fill="#F8F8F8")
                                    path(d="M15.0554 35.5156H29.4938C31.0623 35.5156 32.3358 34.2646 32.3358 32.7238C32.3358 31.183 31.0623 29.9319 29.4938 29.9319H15.0554L11.4492 26.1523", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M30.6996 32.6328C39.5029 32.6328 46.6393 25.6224 46.6393 16.9746C46.6393 8.32681 39.5029 1.31641 30.6996 1.31641C21.8963 1.31641 14.7598 8.32681 14.7598 16.9746C14.7598 25.6224 21.8963 32.6328 30.6996 32.6328Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M15.0554 35.5156H29.4938C31.0623 35.5156 32.3358 34.2646 32.3358 32.7238C32.3358 31.183 31.0623 29.9319 29.4938 29.9319H15.0554L11.4492 26.1523", fill="#F8F8F8")
                                    path(d="M15.0554 35.5156H29.4938C31.0623 35.5156 32.3358 34.2646 32.3358 32.7238C32.3358 31.183 31.0623 29.9319 29.4938 29.9319H15.0554L11.4492 26.1523", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M30.6997 9.98047L32.952 13.8127H37.4698L35.2176 17.6581L37.4698 21.5035H32.952L30.6997 25.3358L28.4341 21.5035H23.9297L26.1819 17.6581L23.9297 13.8127H28.4341L30.6997 9.98047Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-linejoin="round")
                                defs
                                    clipPath#clip0_606_7048
                                        rect(width="59", height="46", fill="white")
                        .card-body
                            .card-title
                                h3.color-darck.font-sm.font-w-lg جاهز تاخذ متجرك لمرحلة النمو
                            .card-text
                                p.color-darck.font-xs.font-w-sm.line-lg في التجارة الإلكترونية، ما يمكن أن يحقق لك 100 ألف ريال، لا يمكن أن يحقق مليون ريال. وهنا دورنا بخطة متكاملة لتحقيق نمو المتجر ليتحقيق مبيعات مليونية خلال 3 أشهر.
                .col-lg-6.pb-4    
                    .card.padding-card.border-0.bg-card.border-r-sm
                        .card-img
                            svg(xmlns="http://www.w3.org/2000/svg", width="61", height="55", viewBox="0 0 61 55", fill="none")
                                path(d="M59.0334 36.7939L0.942383 25.0469", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M27.9559 31.673L19.3763 40.2526C18.3702 41.2587 18.3702 42.8898 19.3763 43.8958L27.9559 52.4754C28.9619 53.4814 30.593 53.4814 31.599 52.4754L40.1786 43.8958C41.1847 42.8898 41.1847 41.2587 40.1786 40.2526L31.599 31.673C30.593 30.667 28.9619 30.667 27.9559 31.673Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M50.468 30.9186C55.7322 30.9186 59.9996 26.6511 59.9996 21.387C59.9996 16.1228 55.7322 11.8555 50.468 11.8555C45.2039 11.8555 40.9365 16.1228 40.9365 21.387C40.9365 26.6511 45.2039 30.9186 50.468 30.9186Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-miterlimit="10")
                                path(d="M47.9948 24.9946C47.4281 24.4407 47.0545 23.7837 46.8613 23.0109L48.6388 22.3411C48.729 22.7919 48.8964 23.1912 49.1669 23.5519C49.4374 23.9125 49.7981 24.1573 50.2489 24.2732V21.6585L49.9527 21.607C49.3988 21.5039 48.9222 21.3365 48.5358 21.1046C48.1494 20.8728 47.8402 20.5637 47.6341 20.1644C47.4152 19.7651 47.3121 19.2627 47.3121 18.6702C47.3121 18.1936 47.4281 17.7428 47.647 17.3307C47.8789 16.9185 48.2138 16.5707 48.6517 16.2873C49.1026 16.004 49.6306 15.8365 50.2489 15.7721V14.5742H51.5241V15.785C52.0908 15.8752 52.5674 16.0297 52.9796 16.2873C53.3917 16.5321 53.7138 16.8411 53.9714 17.1889C54.229 17.5367 54.4093 17.9231 54.5381 18.3353L52.8508 19.0051C52.7735 18.7733 52.6833 18.5543 52.5674 18.3482C52.4514 18.1421 52.3098 17.9746 52.1295 17.8329C51.962 17.6913 51.7559 17.5754 51.537 17.4981V19.9197L51.8976 20.0097C52.709 20.203 53.366 20.525 53.8683 21.0016C54.3835 21.4781 54.6283 22.1351 54.6283 22.9723C54.6283 23.7709 54.3706 24.4406 53.8425 25.0074C53.3144 25.5612 52.5416 25.8962 51.5241 25.9992V27.1971H50.2489V25.9863C49.3086 25.8833 48.5616 25.5612 47.9948 25.0074V24.9946ZM50.2489 18.8891V17.4465C49.914 17.5238 49.6564 17.6655 49.5018 17.8716C49.3344 18.0777 49.2571 18.3096 49.2571 18.5543C49.2571 18.8635 49.3473 19.1081 49.5147 19.2884C49.6822 19.4688 49.9269 19.5976 50.2618 19.6877V18.902L50.2489 18.8891ZM52.181 24.0542C52.3484 23.9383 52.4772 23.7837 52.5674 23.6292C52.6575 23.4617 52.6962 23.2814 52.6962 23.0753C52.6962 22.8692 52.6446 22.7018 52.5545 22.5472C52.4643 22.3927 52.3355 22.251 52.1552 22.1479C51.9749 22.0449 51.7817 21.9547 51.537 21.9032V24.3248C51.7946 24.2732 52.0135 24.1959 52.181 24.0671V24.0542Z", fill="#4832D9")
                                path(d="M10.6668 14.8336C14.4869 14.8336 17.5836 11.7369 17.5836 7.91681C17.5836 4.09676 14.4869 1 10.6668 1C6.84676 1 3.75 4.09676 3.75 7.91681C3.75 11.7369 6.84676 14.8336 10.6668 14.8336Z", stroke="#4832D9", stroke-miterlimit="10")
                                path(d="M8.87613 10.5284C8.46395 10.1291 8.19344 9.65255 8.05176 9.08581L9.33981 8.59634C9.40421 8.91835 9.533 9.21461 9.7262 9.4851C9.91941 9.74271 10.19 9.92308 10.512 10.0132V8.11977L10.2929 8.08117C9.89365 8.00389 9.5459 7.88792 9.26253 7.72048C8.97916 7.55303 8.76017 7.32122 8.60561 7.03785C8.45104 6.75448 8.37377 6.38091 8.37377 5.95586C8.37377 5.60808 8.45106 5.28606 8.6185 4.97693C8.78595 4.68068 9.03069 4.42311 9.3527 4.21702C9.67471 4.01094 10.0612 3.88208 10.512 3.84344V2.98047H11.4393V3.85633C11.8515 3.92073 12.1993 4.0367 12.4955 4.21702C12.7918 4.39735 13.0365 4.61625 13.2168 4.87386C13.3972 5.13147 13.5389 5.41487 13.629 5.71113L12.4054 6.20059C12.3538 6.03314 12.2766 5.87858 12.1993 5.72402C12.1092 5.58233 12.0061 5.45356 11.8773 5.35051C11.7485 5.24747 11.6068 5.17018 11.4393 5.10578V6.85751L11.7098 6.92189C12.2895 7.06358 12.766 7.29542 13.1396 7.6432C13.5131 7.99097 13.6934 8.46753 13.6934 9.07291C13.6934 9.65253 13.5002 10.142 13.1267 10.5413C12.7403 10.9406 12.1864 11.1853 11.4393 11.2626V12.1256H10.512V11.2497C9.82931 11.1724 9.2883 10.9406 8.87613 10.5413V10.5284ZM10.512 6.09752V5.04131C10.2672 5.09284 10.0869 5.19595 9.97094 5.35051C9.85501 5.50508 9.79059 5.67245 9.79059 5.8399C9.79059 6.05887 9.85501 6.23924 9.97094 6.36804C10.0869 6.49685 10.2672 6.58697 10.512 6.65138V6.08463V6.09752ZM11.903 9.84579C12.0318 9.75563 12.122 9.65259 12.1735 9.53667C12.2379 9.42075 12.2637 9.27898 12.2637 9.1373C12.2637 8.99561 12.225 8.86682 12.1606 8.7509C12.0962 8.63498 11.9932 8.54484 11.8773 8.45467C11.7614 8.36451 11.6068 8.31297 11.4264 8.27433V10.0261C11.6196 9.98741 11.7742 9.93595 11.8901 9.84579H11.903Z", fill="#4832D9")
                        .card-body 
                            .card-title
                                h3.color-darck.font-sm.font-w-lg جاهز تاخذ متجرك لمرحلة النمو
                            .card-text
                                p.color-darck.font-xs.font-w-sm.line-lg إذا متجرك يحقق مبيعات لكنها غير مستقرة، وشهر فوق وشهر تحت، فقد وصلت للمكان اللي يساعدك تشتغل على خطة نمو مستدامة لمتجرك.
                .col-lg-6.pb-4
                    .card.padding-card.border-0.bg-card.border-r-sm
                        .cardimg
                            svg(xmlns="http://www.w3.org/2000/svg", width="63", height="51", viewBox="0 0 63 51", fill="none")
                                path(d="M36.6182 15.4945L32.9497 19.1631C31.9546 20.1581 30.3481 20.1581 29.353 19.1631C28.3579 18.168 28.3579 16.5615 29.353 15.5664L35.851 9.06847C36.3665 8.55295 37.1937 8.55295 37.7092 9.06847C38.2247 9.58399 39.052 9.58399 39.5675 9.06847L42.4328 6.20312L56.8194 20.5897L28.8495 48.5597L14.4629 34.1731L29.4129 19.223", fill="white")
                                path(d="M36.6182 15.4945L32.9497 19.1631C31.9546 20.1581 30.3481 20.1581 29.353 19.1631C28.3579 18.168 28.3579 16.5615 29.353 15.5664L35.851 9.06847C36.3665 8.55295 37.1937 8.55295 37.7092 9.06847C38.2247 9.58399 39.052 9.58399 39.5675 9.06847L42.4328 6.20312L56.8194 20.5897L28.8495 48.5597L14.4629 34.1731L29.4129 19.223", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M20.8431 6.18421L6.45703 20.5703L34.4324 48.5457L48.8185 34.1596L20.8431 6.18421Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M8.54943 22.6596L22.9355 8.27344L16.6623 2.00015L2.27615 16.3863L8.54943 22.6596Z", fill="#F2B705", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M38.6803 49.2035C37.6885 50.1953 36.0778 50.1953 35.0859 49.2035L27.6512 41.7688L31.2457 38.1744L38.6803 45.609C39.6722 46.6009 39.6722 48.2116 38.6803 49.2035Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M31.2471 38.167L38.6801 45.6001C39.6752 46.5951 41.2817 46.5951 42.2768 45.6001C43.2719 44.605 43.2719 42.9985 42.2768 42.0034L34.8437 34.5703", fill="white")
                                path(d="M31.2471 38.167L38.6801 45.6001C39.6752 46.5951 41.2817 46.5951 42.2768 45.6001C43.2719 44.605 43.2719 42.9985 42.2768 42.0034L34.8437 34.5703", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M34.8438 34.5693L42.2768 42.0024C43.2719 42.9975 44.8784 42.9975 45.8735 42.0024C46.8685 41.0073 46.8685 39.4008 45.8735 38.4057L38.4404 30.9727", fill="white")
                                path(d="M34.8438 34.5693L42.2768 42.0024C43.2719 42.9975 44.8784 42.9975 45.8735 42.0024C46.8685 41.0073 46.8685 39.4008 45.8735 38.4057L38.4404 30.9727", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M38.4404 30.9756L45.8735 38.4086C46.8686 39.4037 48.4751 39.4037 49.4701 38.4086C50.4652 37.4136 50.4652 35.8071 49.4701 34.812L42.0371 27.3789", fill="white")
                                path(d="M38.4404 30.9756L45.8735 38.4086C46.8686 39.4037 48.4751 39.4037 49.4701 38.4086C50.4652 37.4136 50.4652 35.8071 49.4701 34.812L42.0371 27.3789", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M61.0004 16.3978L46.6143 2.01172L40.341 8.28501L54.7271 22.6711L61.0004 16.3978Z", fill="#F2B705", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M33.8353 43.5635C34.8279 42.5709 34.8279 40.9617 33.8353 39.9691C32.8427 38.9765 31.2335 38.9765 30.2409 39.9691L24.6034 45.6066C23.6108 46.5991 23.6109 48.2084 24.6034 49.201C25.596 50.1936 27.2053 50.1936 28.1978 49.201L33.8353 43.5635Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M30.2396 39.9619C31.2322 38.9694 31.2322 37.3601 30.2396 36.3675C29.247 35.375 27.6378 35.3749 26.6452 36.3675L21.0077 42.005C20.0151 42.9976 20.0152 44.6069 21.0077 45.5994C22.0003 46.592 23.6096 46.592 24.6021 45.5994L30.2396 39.9619Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M26.6429 36.376C27.6355 35.3834 27.6355 33.7742 26.6429 32.7816C25.6504 31.789 24.0411 31.789 23.0485 32.7816L17.411 38.4191C16.4184 39.4116 16.4185 41.0209 17.411 42.0135C18.4036 43.0061 20.0129 43.0061 21.0054 42.0135L26.6429 36.376Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M23.0463 32.7784C24.0388 31.7858 24.0388 30.1765 23.0463 29.1839C22.0537 28.1914 20.4444 28.1914 19.4518 29.1839L13.8143 34.8214C12.8218 35.814 12.8218 37.4233 13.8144 38.4158C14.8069 39.4084 16.4162 39.4084 17.4088 38.4158L23.0463 32.7784Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M38.4528 13.6513L31.0197 21.0844C30.0246 22.0794 28.4181 22.0794 27.4231 21.0844C26.428 20.0893 26.428 18.4828 27.4231 17.4877L34.8561 10.0547", fill="white")
                                path(d="M38.4528 13.6513L31.0197 21.0844C30.0246 22.0794 28.4181 22.0794 27.4231 21.0844C26.428 20.0893 26.428 18.4828 27.4231 17.4877L34.8561 10.0547", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")           
                        .card-body
                            .card-title
                                h3.color-darck.font-sm.font-w-lg جاهز تاخذ متجرك لمرحلة النمو
                            .card-text 
                                p.color-darck.font-xs.font-w-sm.line-lg إذا متجرك يحقق مبيعات لكنها غير مستقرة، وشهر فوق وشهر تحت، فقد وصلت للمكان اللي يساعدك تشتغل على خطة نمو مستدامة لمتجرك. 
                .col-lg-6.pb-4
                    .card.padding-card.border-0.bg-card.border-r-sm
                        .card-img
                            svg(xmlns="http://www.w3.org/2000/svg", width="61", height="55", viewBox="0 0 61 55", fill="none")
                                path(d="M59.0334 36.7939L0.942383 25.0469", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M27.9559 31.673L19.3763 40.2526C18.3702 41.2587 18.3702 42.8898 19.3763 43.8958L27.9559 52.4754C28.9619 53.4814 30.593 53.4814 31.599 52.4754L40.1786 43.8958C41.1847 42.8898 41.1847 41.2587 40.1786 40.2526L31.599 31.673C30.593 30.667 28.9619 30.667 27.9559 31.673Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M50.468 30.9186C55.7322 30.9186 59.9996 26.6511 59.9996 21.387C59.9996 16.1228 55.7322 11.8555 50.468 11.8555C45.2039 11.8555 40.9365 16.1228 40.9365 21.387C40.9365 26.6511 45.2039 30.9186 50.468 30.9186Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-miterlimit="10")
                                path(d="M47.9948 24.9946C47.4281 24.4407 47.0545 23.7837 46.8613 23.0109L48.6388 22.3411C48.729 22.7919 48.8964 23.1912 49.1669 23.5519C49.4374 23.9125 49.7981 24.1573 50.2489 24.2732V21.6585L49.9527 21.607C49.3988 21.5039 48.9222 21.3365 48.5358 21.1046C48.1494 20.8728 47.8402 20.5637 47.6341 20.1644C47.4152 19.7651 47.3121 19.2627 47.3121 18.6702C47.3121 18.1936 47.4281 17.7428 47.647 17.3307C47.8789 16.9185 48.2138 16.5707 48.6517 16.2873C49.1026 16.004 49.6306 15.8365 50.2489 15.7721V14.5742H51.5241V15.785C52.0908 15.8752 52.5674 16.0297 52.9796 16.2873C53.3917 16.5321 53.7138 16.8411 53.9714 17.1889C54.229 17.5367 54.4093 17.9231 54.5381 18.3353L52.8508 19.0051C52.7735 18.7733 52.6833 18.5543 52.5674 18.3482C52.4514 18.1421 52.3098 17.9746 52.1295 17.8329C51.962 17.6913 51.7559 17.5754 51.537 17.4981V19.9197L51.8976 20.0097C52.709 20.203 53.366 20.525 53.8683 21.0016C54.3835 21.4781 54.6283 22.1351 54.6283 22.9723C54.6283 23.7709 54.3706 24.4406 53.8425 25.0074C53.3144 25.5612 52.5416 25.8962 51.5241 25.9992V27.1971H50.2489V25.9863C49.3086 25.8833 48.5616 25.5612 47.9948 25.0074V24.9946ZM50.2489 18.8891V17.4465C49.914 17.5238 49.6564 17.6655 49.5018 17.8716C49.3344 18.0777 49.2571 18.3096 49.2571 18.5543C49.2571 18.8635 49.3473 19.1081 49.5147 19.2884C49.6822 19.4688 49.9269 19.5976 50.2618 19.6877V18.902L50.2489 18.8891ZM52.181 24.0542C52.3484 23.9383 52.4772 23.7837 52.5674 23.6292C52.6575 23.4617 52.6962 23.2814 52.6962 23.0753C52.6962 22.8692 52.6446 22.7018 52.5545 22.5472C52.4643 22.3927 52.3355 22.251 52.1552 22.1479C51.9749 22.0449 51.7817 21.9547 51.537 21.9032V24.3248C51.7946 24.2732 52.0135 24.1959 52.181 24.0671V24.0542Z", fill="#4832D9")
                                path(d="M10.6668 14.8336C14.4869 14.8336 17.5836 11.7369 17.5836 7.91681C17.5836 4.09676 14.4869 1 10.6668 1C6.84676 1 3.75 4.09676 3.75 7.91681C3.75 11.7369 6.84676 14.8336 10.6668 14.8336Z", stroke="#4832D9", stroke-miterlimit="10")
                                path(d="M8.87613 10.5284C8.46395 10.1291 8.19344 9.65255 8.05176 9.08581L9.33981 8.59634C9.40421 8.91835 9.533 9.21461 9.7262 9.4851C9.91941 9.74271 10.19 9.92308 10.512 10.0132V8.11977L10.2929 8.08117C9.89365 8.00389 9.5459 7.88792 9.26253 7.72048C8.97916 7.55303 8.76017 7.32122 8.60561 7.03785C8.45104 6.75448 8.37377 6.38091 8.37377 5.95586C8.37377 5.60808 8.45106 5.28606 8.6185 4.97693C8.78595 4.68068 9.03069 4.42311 9.3527 4.21702C9.67471 4.01094 10.0612 3.88208 10.512 3.84344V2.98047H11.4393V3.85633C11.8515 3.92073 12.1993 4.0367 12.4955 4.21702C12.7918 4.39735 13.0365 4.61625 13.2168 4.87386C13.3972 5.13147 13.5389 5.41487 13.629 5.71113L12.4054 6.20059C12.3538 6.03314 12.2766 5.87858 12.1993 5.72402C12.1092 5.58233 12.0061 5.45356 11.8773 5.35051C11.7485 5.24747 11.6068 5.17018 11.4393 5.10578V6.85751L11.7098 6.92189C12.2895 7.06358 12.766 7.29542 13.1396 7.6432C13.5131 7.99097 13.6934 8.46753 13.6934 9.07291C13.6934 9.65253 13.5002 10.142 13.1267 10.5413C12.7403 10.9406 12.1864 11.1853 11.4393 11.2626V12.1256H10.512V11.2497C9.82931 11.1724 9.2883 10.9406 8.87613 10.5413V10.5284ZM10.512 6.09752V5.04131C10.2672 5.09284 10.0869 5.19595 9.97094 5.35051C9.85501 5.50508 9.79059 5.67245 9.79059 5.8399C9.79059 6.05887 9.85501 6.23924 9.97094 6.36804C10.0869 6.49685 10.2672 6.58697 10.512 6.65138V6.08463V6.09752ZM11.903 9.84579C12.0318 9.75563 12.122 9.65259 12.1735 9.53667C12.2379 9.42075 12.2637 9.27898 12.2637 9.1373C12.2637 8.99561 12.225 8.86682 12.1606 8.7509C12.0962 8.63498 11.9932 8.54484 11.8773 8.45467C11.7614 8.36451 11.6068 8.31297 11.4264 8.27433V10.0261C11.6196 9.98741 11.7742 9.93595 11.8901 9.84579H11.903Z", fill="#4832D9")
                        .card-body 
                            .card-title
                                h3.color-darck.font-sm.font-w-lg جاهز تاخذ متجرك لمرحلة النمو
                            .card-text
                                p.color-darck.font-xs.font-w-sm.line-lg إذا متجرك يحقق مبيعات لكنها غير مستقرة، وشهر فوق وشهر تحت، فقد وصلت للمكان اللي يساعدك تشتغل على خطة نمو مستدامة لمتجرك.                   
    section.Store-achievements
        .container 
            .content-element 
                .element-title 
                    h3.color-darck.font-bold.font-w-lg حققت متاجر نديرها زيادة للمبيعات تتجاوز 289%
                .content-btns 
                    .btn 
                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="25", viewBox="0 0 24 25", fill="none")
                            path(d="M14.4296 19.3211C14.6196 19.3211 14.8096 19.2511 14.9596 19.1011L21.0296 13.0311C21.3196 12.7411 21.3196 12.2611 21.0296 11.9711L14.9596 5.90109C14.6696 5.61109 14.1896 5.61109 13.8996 5.90109C13.6096 6.19109 13.6096 6.67109 13.8996 6.96109L19.4396 12.5011L13.8996 18.0411C13.6096 18.3311 13.6096 18.8111 13.8996 19.1011C14.0396 19.2511 14.2396 19.3211 14.4296 19.3211Z", fill="#292D32")
                            path(d="M3.50008 13.25H20.3301C20.7401 13.25 21.0801 12.91 21.0801 12.5C21.0801 12.09 20.7401 11.75 20.3301 11.75H3.50008C3.09008 11.75 2.75008 12.09 2.75008 12.5C2.75008 12.91 3.09008 13.25 3.50008 13.25Z", fill="#292D32")
                    .btn 
                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="25", viewBox="0 0 24 25", fill="none")
                            path(d="M9.57043 19.3211C9.38043 19.3211 9.19043 19.2511 9.04043 19.1011L2.97043 13.0311C2.68043 12.7411 2.68043 12.2611 2.97043 11.9711L9.04043 5.90109C9.33043 5.61109 9.81043 5.61109 10.1004 5.90109C10.3904 6.19109 10.3904 6.67109 10.1004 6.96109L4.56043 12.5011L10.1004 18.0411C10.3904 18.3311 10.3904 18.8111 10.1004 19.1011C9.96043 19.2511 9.76043 19.3211 9.57043 19.3211Z", fill="#292D32")
                            path(d="M20.4999 13.25H3.66992C3.25992 13.25 2.91992 12.91 2.91992 12.5C2.91992 12.09 3.25992 11.75 3.66992 11.75H20.4999C20.9099 11.75 21.2499 12.09 21.2499 12.5C21.2499 12.91 20.9099 13.25 20.4999 13.25Z", fill="#292D32")
            .row 
                .col-lg-6.d-flex.pb-4 
                    .content-img 
                        img(src="../static/Ad-mnagement-imgs/img-card-one.svg", alt="")
                .col-lg-6.d-flex.pb-4 
                    .content-img 
                        img(src="../static/Ad-mnagement-imgs/img-card-tow.svg", alt="")

        
    include ../components/The-Success stories.pug  
    include ../components/The-Connect with us.pug
    include ../components/The-Footer.pug