extends ../Layouts/default.pug
block content
    include ../components/The-Header.pug
    section.Services-Design-service-intro
        .container
            .parent-intro 
                .content-element.pb-5
                    .content-title 
                        h1.color-darcjk.font-lg.font-w-lg.line-sm نشيل عنك مهام المتجر المكررة بحيث تركز في تطوير تجارتك
                    .content-text
                        p.color-darck.font-xs.font-w-sm  مهما كان نوع التصاميم التي تحتاجها، فريقنا يوفرها لك بجودة عالية وتكلفة أقل من توظيف مصمم خاص
                    .content-btn 
                        a.color-wight.bg-purple.font-xs.font-w-md اطلب استشارة مجانية
                .content-img 
                    img(src="../static/Services - Store management service-images/img-intro.svg", alt="")
    section.methodologies.pt-5
        .container 
            .content-title.pt-4
                h3.color-0darck.font-md.font-w-lg.text-center.pb-5 مدير متجر يشيل عنك مهام المتجر
            .row
                .col-lg-4.col-md-6.d-flex.pb-4-4 
                    .theCard
                        .theCard-img.pb-2 
                            svg(xmlns="http://www.w3.org/2000/svg", width="53", height="41", viewBox="0 0 53 41", fill="none")
                                g(clip-path="url(#clip0_629_6554)")
                                    path(d="M9.44164 7.71875H42.7516C43.8616 7.71875 44.7616 8.61875 44.7616 9.72875V39.6887H7.43164V9.72875C7.43164 8.61875 8.33164 7.71875 9.44164 7.71875Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M8.48153 1H43.7215C44.3615 1 44.9515 1.36 45.2315 1.93L50.5515 12.54C51.1115 13.67 50.3015 14.99 49.0415 14.99H3.15153C1.89153 14.99 1.07153 13.66 1.64153 12.54L6.97153 1.93C7.26153 1.36 7.84153 1 8.48153 1Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M39.7114 36.5116L39.4014 34.7916L37.6914 34.4916L44.3214 27.8516L46.3414 29.8716L39.7114 36.5116Z", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M48.9408 36.5116L49.2408 34.7916L50.9508 34.4916L44.3208 27.8516L42.3008 29.8716L48.9408 36.5116Z", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M44.7006 19.7514L45.9006 20.9514C46.0606 21.1114 46.2806 21.2014 46.5006 21.2014H48.2006C48.6706 21.2014 49.0506 21.5814 49.0506 22.0514V23.7514C49.0506 23.9814 49.1406 24.1914 49.3006 24.3514L50.5006 25.5514C50.8306 25.8814 50.8306 26.4214 50.5006 26.7514L49.3006 27.9514C49.1406 28.1114 49.0506 28.3314 49.0506 28.5514V30.2514C49.0506 30.7214 48.6706 31.1014 48.2006 31.1014H46.5006C46.2706 31.1014 46.0606 31.1914 45.9006 31.3514L44.7006 32.5514C44.3706 32.8814 43.8306 32.8814 43.5006 32.5514L42.3006 31.3514C42.1406 31.1914 41.9206 31.1014 41.7006 31.1014H40.0006C39.5306 31.1014 39.1506 30.7214 39.1506 30.2514V28.5514C39.1506 28.3214 39.0606 28.1114 38.9006 27.9514L37.7006 26.7514C37.3706 26.4214 37.3706 25.8814 37.7006 25.5514L38.9006 24.3514C39.0606 24.1914 39.1506 23.9714 39.1506 23.7514V22.0514C39.1506 21.5814 39.5306 21.2014 40.0006 21.2014H41.7006C41.9306 21.2014 42.1406 21.1114 42.3006 20.9514L43.5006 19.7514C43.8306 19.4214 44.3706 19.4214 44.7006 19.7514Z", fill="#F2B705", stroke="#F2B705", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M44.7006 19.7514L45.9006 20.9514C46.0606 21.1114 46.2806 21.2014 46.5006 21.2014H48.2006C48.6706 21.2014 49.0506 21.5814 49.0506 22.0514V23.7514C49.0506 23.9814 49.1406 24.1914 49.3006 24.3514L50.5006 25.5514C50.8306 25.8814 50.8306 26.4214 50.5006 26.7514L49.3006 27.9514C49.1406 28.1114 49.0506 28.3314 49.0506 28.5514V30.2514C49.0506 30.7214 48.6706 31.1014 48.2006 31.1014H46.5006C46.2706 31.1014 46.0606 31.1914 45.9006 31.3514L44.7006 32.5514C44.3706 32.8814 43.8306 32.8814 43.5006 32.5514L42.3006 31.3514C42.1406 31.1914 41.9206 31.1014 41.7006 31.1014H40.0006C39.5306 31.1014 39.1506 30.7214 39.1506 30.2514V28.5514C39.1506 28.3214 39.0606 28.1114 38.9006 27.9514L37.7006 26.7514C37.3706 26.4214 37.3706 25.8814 37.7006 25.5514L38.9006 24.3514C39.0606 24.1914 39.1506 23.9714 39.1506 23.7514V22.0514C39.1506 21.5814 39.5306 21.2014 40.0006 21.2014H41.7006C41.9306 21.2014 42.1406 21.1114 42.3006 20.9514L43.5006 19.7514C43.8306 19.4214 44.3706 19.4214 44.7006 19.7514Z", fill="#F2B705", stroke="#F2B705", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M23.3518 32.1797H28.8518C29.4018 32.1797 29.8518 32.6297 29.8518 33.1797V39.6797H22.3418V33.1797C22.3418 32.6297 22.7918 32.1797 23.3418 32.1797H23.3518Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M19.8906 7.01C23.3206 3.58 28.9006 3.58 32.3306 7.01H19.8906Z", fill="white")
                                    path(d="M19.8906 7.01C23.3206 3.58 28.9006 3.58 32.3306 7.01", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M27.9805 11.3584C26.9505 10.3284 25.2705 10.3284 24.2305 11.3584H27.9805Z", fill="white")
                                    path(d="M27.9805 11.3584C26.9505 10.3284 25.2705 10.3284 24.2305 11.3584", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M22.0605 9.18C24.3005 6.94 27.9205 6.94 30.1505 9.18H22.0605Z", fill="white")
                                    path(d="M22.0605 9.18C24.3005 6.94 27.9205 6.94 30.1505 9.18", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                defs
                                    clipPath#clip0_629_6554
                                        rect(width="52.04", height="40.69", fill="white", transform="translate(0.460938)")
                        .content-element 
                            .content-title 
                                h4.color-darck.font-w-md.font-sm.pb-1 دراسة محفزات الشراء، ووضع خطة على أساسها
                            .content-text 
                                p.color-darck.font-xs.font-w-sm لأن العميل إنسان عنده آمال وتطلعات، فإننا نربط المنتجات والمتجر باحتياجاته ونربط المنتج بأنه الشعور الجيد بتلبية الرغبة الذاتية    
                .col-lg-4.col-md-6.d-flex.pb-4 
                    .theCard
                        .theCard-img.pb-2
                            svg(xmlns="http://www.w3.org/2000/svg", width="59", height="48", viewBox="0 0 59 48", fill="none")
                                g(clip-path="url(#clip0_629_6540)")
                                    path(d="M39.2206 1H3.14062C2.03606 1 1.14062 1.89543 1.14062 3V44.57C1.14062 45.6746 2.03606 46.57 3.14062 46.57H39.2206C40.3252 46.57 41.2206 45.6746 41.2206 44.57V3C41.2206 1.89543 40.3252 1 39.2206 1Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M11.2305 32.7383H31.1205", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M11.2305 23.7891H31.1205", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M11.2305 14.8398H31.1205", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M48.8107 10.1602L54.2807 17.1102L34.5507 32.6202C34.3707 32.7602 34.1607 32.8402 33.9407 32.8602L27.1207 33.5202C26.6507 33.5702 26.2907 33.1102 26.4507 32.6702L28.7007 26.2002C28.7707 25.9902 28.9107 25.8002 29.0807 25.6702L48.8107 10.1602Z", fill="#F2B705")
                                    path(d="M50.0603 9.17516L55.5234 16.125L58.4952 13.789L53.0321 6.83914L50.0603 9.17516Z", fill="#F2B705")
                                defs
                                    clipPath#clip0_629_6540
                                        rect(width="58.36", height="47.57", fill="white", transform="translate(0.140625)")
                        .content-element 
                            .content-title 
                                h4.color-darck.font-w-md.font-sm.pb-1 دراسة محفزات الشراء، ووضع خطة على أساسها
                            .content-text 
                                p.color-darck.font-xs.font-w-sm لأن العميل إنسان عنده آمال وتطلعات، فإننا نربط المنتجات والمتجر باحتياجاته ونربط المنتج بأنه الشعور الجيد بتلبية الرغبة الذاتية   
                .col-lg-4.col-md-6.d-flex.pb-4 
                    .theCard
                        .theCard-img.pb-2 
                            svg(xmlns="http://www.w3.org/2000/svg", width="53", height="44", viewBox="0 0 53 44", fill="none")
                                g(clip-path="url(#clip0_629_6526)")
                                    path(d="M8.58961 6.88672L1.83961 6.88672V4.07672C1.83961 2.37672 3.21961 0.986719 4.92961 0.986719L5.50961 0.986719C7.20961 0.986719 8.59961 2.36672 8.59961 4.07672V6.88672H8.58961Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M5.99047 1H42.2305C43.3305 1 44.2305 1.89 44.2305 3V40.93C44.2305 42.03 43.3405 42.93 42.2305 42.93H7.98047C6.88047 42.93 5.98047 42.04 5.98047 40.93V1H5.99047Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M36.7407 13.3984H13.4707", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M30.1007 24.8398H13.4707", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M5.99023 37.0312V40.7413C5.99023 41.9513 6.97023 42.9313 8.18023 42.9313H10.5602C11.7702 42.9313 12.7502 41.9513 12.7502 40.7413V37.0312H49.5902V41.9212C49.5902 42.4712 49.1402 42.9212 48.5902 42.9212H8.18023C6.97023 42.9212 5.99023 41.9413 5.99023 40.7313", fill="white")
                                    path(d="M5.99023 37.0312V40.7413C5.99023 41.9513 6.97023 42.9313 8.18023 42.9313H10.5602C11.7702 42.9313 12.7502 41.9513 12.7502 40.7413V37.0312H49.5902V41.9212C49.5902 42.4712 49.1402 42.9212 48.5902 42.9212H8.18023C6.97023 42.9212 5.99023 41.9413 5.99023 40.7313", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M50.4992 19.8203H37.9492C37.3969 19.8203 36.9492 20.268 36.9492 20.8203V26.9703C36.9492 27.5226 37.3969 27.9703 37.9492 27.9703H50.4992C51.0515 27.9703 51.4992 27.5226 51.4992 26.9703V20.8203C51.4992 20.268 51.0515 19.8203 50.4992 19.8203Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-miterlimit="10")
                                defs
                                    clipPath#clip0_629_6526
                                        rect(width="51.66", height="43.92", fill="white", transform="translate(0.839844)")
                        .content-element 
                            .content-title 
                                h4.color-darck.font-w-md.font-sm.pb-1 دراسة محفزات الشراء، ووضع خطة على أساسه
                            .content-text 
                                p.color-darck.font-xs.font-w-sm حدد مجموعة التصاميم المطلوبة والهدف من كل واحد من التصاميم، بعدها تحصل على أكثر من تصور وبمجرد اعتماده يبدأ التنفيذ.
    section.We-help-you-in-managing-accounts.pt-5
        .container 
            .parent-content-element 
                .content-element 
                    .content-title.pb-1
                        h3.color-darck.font-md.font-w-lg مزايا خدمة مدير المتجر
                    .content-text.pb-2 
                        p.color-darck.font-xs.font-w-sm.lin-md حدد مجموعة التصاميم المطلوبة والهدف من كل واحد من التصاميم، بعدها تحصل على أكثر من تصور وبمجرد اعتماده يبدأ التنفيذ.                               
                    .parent-deescription 
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm سرعة في تسليم التصاميم
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm متخصصين في التجارة الإلكترونية 
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm فريق كامل من المصممين المحترفين
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm اطلب تعديلاتك على التصاميم وسعداء بتنفيذها
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm مكان واحد لجميع احتياجاتك من التصاميم
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm أفضل جودة مقابل تكلفة لخدمات التصميم
                .content-img-section 
                    img(src="../static/Services - Store management service-images/img section.svg", class="width-md" alt="")                
    section.We-help-with-brand-strength.pt-5 
        .container 
            .content-title.pt-5.width-lg.m-auto
                h3.color-darck.font-w-lg.font-bold.text-center.pb-5 مدير للمتجر متخصص في التجارة الإلكترونية بتكلفة أقل من توظيف موظف
            .row.pt-3
                .col-lg-6.d-flex.pb-4 
                    .thecard
                        .content-icon
                            svg(xmlns="http://www.w3.org/2000/svg", width="58", height="62", viewBox="0 0 58 62", fill="none")
                                g(clip-path="url(#clip0_629_6194)")
                                    path(d="M36.3271 1.60547H4.82072C3.04606 1.60547 1.60742 3.0441 1.60742 4.81874V41.5303C1.60742 43.305 3.04606 44.7436 4.82072 44.7436H36.3271C38.1017 44.7436 39.5404 43.305 39.5404 41.5303V4.81874C39.5404 3.0441 38.1017 1.60547 36.3271 1.60547Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M53.1804 7.64844H13.2231C11.4484 7.64844 10.0098 9.08707 10.0098 10.8617V57.181C10.0098 58.9556 11.4484 60.3942 13.2231 60.3942H53.1804C54.9551 60.3942 56.3937 58.9556 56.3937 57.181V10.8617C56.3937 9.08707 54.9551 7.64844 53.1804 7.64844Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M53.1804 7.64844H13.2231C11.4484 7.64844 10.0098 9.08707 10.0098 10.8617V57.181C10.0098 58.9556 11.4484 60.3942 13.2231 60.3942H53.1804C54.9551 60.3942 56.3937 58.9556 56.3937 57.181V10.8617C56.3937 9.08707 54.9551 7.64844 53.1804 7.64844Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M56.3776 42.1429C56.6026 32.0853 50.3206 30.559 50.3206 30.559C44.9704 28.7757 29.8358 30.559 29.8358 30.559C31.4425 13.9946 24.8552 7.64844 24.8552 7.64844H13.2231C11.4557 7.64844 10.0098 9.07834 10.0098 10.8617V57.1006C10.0098 58.9161 11.4879 60.3942 13.3034 60.3942H53.084C54.8995 60.3942 56.3776 58.9161 56.3776 57.1006V42.1429Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M29.8361 30.559C29.8361 30.559 43.3319 28.4061 51.4776 31.0571L24.8555 7.64844C24.8555 7.64844 31.4427 13.9946 29.8361 30.559Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-linejoin="round")
                                defs
                                    clipPath#clip0_629_6194
                                        rect(width="58", height="62", fill="white")
                        .content-element 
                            .content-title.mt-2
                                h4.color-darck.font-w-lg.font-sm البحث الموسع
                            .content-text
                                p.color-darck.font-xs.font-w-sm.line-lg كل الأشياء العظيمة تبدأ من عميلة البحث الجيد، لذلك قبل كتابة أي حرف أو وضع أي خطط، ندرس البراند بكل تفاصيله، وندرس حالة المنافسة، ونقف على نقاط القوة والضعف والفرص المتاحة لتعزيز العلامة التجارية
                .col-lg-6.d-flex.pb-4
                    .thecard
                        .content-icon
                           svg(xmlns="http://www.w3.org/2000/svg", width="60", height="55", viewBox="0 0 60 55", fill="none")
                                g(clip-path="url(#clip0_629_6216)")
                                    path(d="M38.1384 18.0042L39.9501 21.127L37.6854 24.9819H34.0619L32.2501 28.0898H27.7508L25.9391 24.9819H22.3155L20.0508 21.127L21.8777 18.0042L20.0508 14.8964L22.3155 11.0414H25.9391L27.7508 7.93359H32.2501L34.0619 11.0414H37.7005L39.9501 14.8964L38.1384 18.0042Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-linejoin="round")
                                    path(d="M30.0007 20.768C31.535 20.768 32.7788 19.5372 32.7788 18.0188C32.7788 16.5004 31.535 15.2695 30.0007 15.2695C28.4664 15.2695 27.2227 16.5004 27.2227 18.0188C27.2227 19.5372 28.4664 20.768 30.0007 20.768Z", fill="white", stroke="white", stroke-width="1.5", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M58.4901 1.49609H1.50977", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M58.4901 33.5469H1.50977", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M58.4901 53.5078H1.50977", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M54.0055 39.207H46.5772C46.1602 39.207 45.8223 39.5415 45.8223 39.9541V47.3054C45.8223 47.718 46.1602 48.0525 46.5772 48.0525H54.0055C54.4224 48.0525 54.7604 47.718 54.7604 47.3054V39.9541C54.7604 39.5415 54.4224 39.207 54.0055 39.207Z", fill="white", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M16.1402 39.207H8.71194C8.29501 39.207 7.95703 39.5415 7.95703 39.9541V47.3054C7.95703 47.718 8.29501 48.0525 8.71194 48.0525H16.1402C16.5571 48.0525 16.8951 47.718 16.8951 47.3054V39.9541C16.8951 39.5415 16.5571 39.207 16.1402 39.207Z", fill="white", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M35.859 39.207H28.4307C28.0138 39.207 27.6758 39.5415 27.6758 39.9541V47.3054C27.6758 47.718 28.0138 48.0525 28.4307 48.0525H35.859C36.2759 48.0525 36.6139 47.718 36.6139 47.3054V39.9541C36.6139 39.5415 36.2759 39.207 35.859 39.207Z", fill="white", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                defs
                                    clipPath#clip0_629_6216
                                        rect(width="60", height="55", fill="white")
                        .content-element 
                            .content-title.mt-2
                                h4.color-darck.font-w-lg.font-sm البحث الموسع
                            .content-text
                                p.color-darck.font-xs.font-w-sm.line-lg كل الأشياء العظيمة تبدأ من عميلة البحث الجيد، لذلك قبل كتابة أي حرف أو وضع أي خطط، ندرس البراند بكل تفاصيله، وندرس حالة المنافسة، ونقف على نقاط القوة والضعف والفرص المتاحة لتعزيز العلامة التجارية
                .col-lg-6.d-flex.pb-4
                    .thecard
                        .content-icon
                            svg(xmlns="http://www.w3.org/2000/svg", width="57", height="57", viewBox="0 0 57 57", fill="none")
                                g(clip-path="url(#clip0_629_6204)")
                                    path(d="M52.8684 1.375H4.13124C2.61009 1.375 1.37695 2.60576 1.37695 4.12398V41.7162C1.37695 43.2344 2.61009 44.4652 4.13124 44.4652H52.8684C54.3895 44.4652 55.6227 43.2344 55.6227 41.7162V4.12398C55.6227 2.60576 54.3895 1.375 52.8684 1.375Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M28.4922 44.4648V51.7771", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M21.7031 55.625H35.2955", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M35.1036 22.9125L36.7699 25.7852L34.7042 29.3313H31.399L29.7465 32.1903H25.6426L23.99 29.3313H20.6849L18.6191 25.7852L20.2717 22.9125L18.6191 20.0535L20.6711 16.5074H23.99L25.6426 13.6484H29.7465L31.399 16.5074H34.7042L36.7699 20.0535L35.1036 22.9125Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-linejoin="round")
                                    path(d="M27.6941 25.4566C29.0936 25.4566 30.228 24.3243 30.228 22.9275C30.228 21.5307 29.0936 20.3984 27.6941 20.3984C26.2946 20.3984 25.1602 21.5307 25.1602 22.9275C25.1602 24.3243 26.2946 25.4566 27.6941 25.4566Z", fill="white", stroke="white", stroke-width="1.5", stroke-miterlimit="10", stroke-linecap="square")
                                defs
                                    clipPath#clip0_629_6204
                                        rect(width="57", height="57", fill="white")
                        .content-element 
                            .content-title.mt-2
                                h4.color-darck.font-w-lg.font-sm البحث الموسع
                            .content-text
                                p.color-darck.font-xs.font-w-sm.line-lg كل الأشياء العظيمة تبدأ من عميلة البحث الجيد، لذلك قبل كتابة أي حرف أو وضع أي خطط، ندرس البراند بكل تفاصيله، وندرس حالة المنافسة، ونقف على نقاط القوة والضعف والفرص المتاحة لتعزيز العلامة التجارية.
                .col-lg-6.d-flex.pb-4 
                    .thecard
                        .content-icon
                           svg(xmlns="http://www.w3.org/2000/svg", width="61", height="48", viewBox="0 0 61 48", fill="none")
                                g(clip-path="url(#clip0_629_6231)")
                                    path(d="M8.51172 7.53125L1.09814 7.53125L1.09814 2.18699C1.09814 1.58589 1.59238 1.09409 2.19645 1.09409L7.41341 1.09409C8.01748 1.09409 8.51172 1.58589 8.51172 2.18699V7.53125Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M47.6438 32.2304V44.7222C47.6438 45.9244 46.6663 46.908 45.4472 46.908H7.84115C6.63301 46.908 5.64453 45.9353 5.64453 44.7222V1.09375H45.4472C46.6553 1.09375 47.6438 2.06643 47.6438 3.27954V10.7768", fill="white")
                                    path(d="M47.6438 32.2304V44.7222C47.6438 45.9244 46.6663 46.908 45.4472 46.908H7.84115C6.63301 46.908 5.64453 45.9353 5.64453 44.7222V1.09375H45.4472C46.6553 1.09375 47.6438 2.06643 47.6438 3.27954V10.7768", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M39.494 14.6445H15.9902", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M39.494 27.1484H15.9902", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M5.65625 40.4727V44.5273C5.65625 45.8497 6.73259 46.9207 8.06154 46.9207H10.6755C12.0045 46.9207 13.0808 45.8497 13.0808 44.5273V40.4727H53.5425V45.8169C53.5425 46.418 53.0482 46.9098 52.4442 46.9098H8.06154C6.73259 46.9098 5.65625 45.8388 5.65625 44.5164", fill="white")
                                    path(d="M5.65625 40.4727V44.5273C5.65625 45.8497 6.73259 46.9207 8.06154 46.9207H10.6755C12.0045 46.9207 13.0808 45.8497 13.0808 44.5273V40.4727H53.5425V45.8169C53.5425 46.418 53.0482 46.9098 52.4442 46.9098H8.06154C6.73259 46.9098 5.65625 45.8388 5.65625 44.5164", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M55.2016 28.8318C51.72 32.5695 46.1955 33.4876 41.4288 30.2854C39.0126 28.657 37.4749 26.2307 36.9258 23.5859", stroke="#F2B705", stroke-width="1.5", stroke-linejoin="round")
                                    path(d="M38.5508 15.4655C41.8677 10.5802 48.5344 9.30153 53.4438 12.6021C56.4202 14.6021 58.0677 17.8371 58.1666 21.1485", stroke="#F2B705", stroke-width="1.5", stroke-linejoin="round")
                                    path(d="M60.1773 20.2859L58.1344 22.581L56.1465 20.2422L60.1773 20.2859Z", fill="#F2B705", stroke="#F2B705", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M35.1133 24.4379L37.2989 22.0117L39.3967 24.5145L35.1133 24.4379Z", fill="#F2B705", stroke="#F2B705", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                defs
                                    clipPath#clip0_629_6231
                                        rect(width="61", height="48", fill="white")
                        .content-element 
                            .content-title.mt-2
                                h4.color-darck.font-w-lg.font-sm البحث الموسع
                            .content-text
                                p.color-darck.font-xs.font-w-sm.line-lg كل الأشياء العظيمة تبدأ من عميلة البحث الجيد، لذلك قبل كتابة أي حرف أو وضع أي خطط، ندرس البراند بكل تفاصيله، وندرس حالة المنافسة، ونقف على نقاط القوة والضعف والفرص المتاحة لتعزيز العلامة التجارية.   
    include ../components/The-Success stories.pug  
    include ../components/The-Connect with us.pug
    include ../components/The-Footer.pug                 

