extends ../Layouts/default.pug
block content
    include ../components/The-Header.pug
    section.Services-Design-service-intro
        .container
            .parent-intro 
                .content-element.pb-5
                    .content-title 
                        h1.color-darcjk.font-lg.font-w-lg.line-sm خدمة تصميم لكل احتياجات تجارتك
                    .content-text
                        p.color-darck.font-xs.font-w-sm  مهما كان نوع التصاميم التي تحتاجها، فريقنا يوفرها لك بجودة عالية وتكلفة أقل من توظيف مصمم خاص
                    .content-btn.btn-primary
                        a.color-wight.bg-purple.font-xs.font-w-md اطلب استشارة مجانية
                .content-img 
                    img(src="../static/Services-Design service-images/img-intro.svg", alt="")
    section.methodologies.pt-5
        .container 
            .content-title.pt-4
                h3.color-0darck.font-md.font-w-lg.text-center.pb-5 لأن العين تشتري قبل أي شئ تصاميمك مهمة
            .row
                .col-lg-4.col-md-6.d-flex.pb-4 
                    .theCard
                        .theCard-img.pb-2 
                            svg(xmlns="http://www.w3.org/2000/svg", width="49", height="45", viewBox="0 0 49 45", fill="none")
                                g(clip-path="url(#clip0_629_5855)")
                                    path(d="M36.8598 3.73047H3.83984C2.73527 3.73047 1.83984 4.6259 1.83984 5.73047V41.1705C1.83984 42.275 2.73527 43.1705 3.83984 43.1705H36.8598C37.9644 43.1705 38.8598 42.275 38.8598 41.1705V5.73047C38.8598 4.6259 37.9644 3.73047 36.8598 3.73047Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M14.9102 1H25.7902C26.3402 1 26.7902 1.45 26.7902 2V6.49H13.9102V2C13.9102 1.45 14.3602 1 14.9102 1Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M11.7402 29.8281H28.9602", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M27.9502 14.3398H12.7402C12.1879 14.3398 11.7402 14.7876 11.7402 15.3398V22.6398C11.7402 23.1921 12.1879 23.6398 12.7402 23.6398H27.9502C28.5025 23.6398 28.9502 23.1921 28.9502 22.6398V15.3398C28.9502 14.7876 28.5025 14.3398 27.9502 14.3398Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M48.2198 3.73047L31.7598 24.4305", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M29.5398 22.499C30.4498 21.149 32.2698 20.799 33.6198 21.709C34.9698 22.619 35.3198 24.439 34.4098 25.789C33.4998 27.139 28.8398 28.789 28.8398 28.789C28.8398 28.789 28.6198 23.849 29.5298 22.509L29.5398 22.499Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M35.5589 21.8568C35.6851 21.6823 35.2471 21.1498 34.5804 20.6674C33.9137 20.1849 33.2709 19.9353 33.1446 20.1098C33.0184 20.2843 33.4565 20.8169 34.1231 21.2993C34.7898 21.7817 35.4326 22.0313 35.5589 21.8568Z", fill="#4832D9")
                                defs
                                    clipPath#clip0_629_5855
                                        rect(width="48.16", height="44.17", fill="white", transform="translate(0.839844)")
                        .content-element 
                            .content-title 
                                h4.color-darck.font-w-md.font-sm.pb-1 دراسة محفزات الشراء، ووضع خطة على أساسها
                            .content-text 
                                p.color-darck.font-xs.font-w-sm لأن العميل إنسان عنده آمال وتطلعات، فإننا نربط المنتجات والمتجر باحتياجاته ونربط المنتج بأنه الشعور الجيد بتلبية الرغبة الذاتية    
                .col-lg-4.col-md-6.d-flex.pb-4 
                    .theCard
                        .theCard-img.pb-2
                            svg(xmlns="http://www.w3.org/2000/svg", width="44", height="45", viewBox="0 0 44 45", fill="none")
                                g(clip-path="url(#clip0_629_5843)")
                                    path(d="M21.37 28.5291C24.6119 28.5291 27.24 25.901 27.24 22.6591C27.24 19.4172 24.6119 16.7891 21.37 16.7891C18.1281 16.7891 15.5 19.4172 15.5 22.6591C15.5 25.901 18.1281 28.5291 21.37 28.5291Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M21.3697 31.5898C27.5497 31.5898 32.5597 36.6098 32.5597 42.7798V43.5298H10.1797V42.7798C10.1797 36.5998 15.1997 31.5898 21.3697 31.5898Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M6.63023 10.2891L7.97023 14.3891H12.2802L8.79023 16.9191L10.1202 21.0191L6.63023 18.4891L3.15023 21.0191L4.48023 16.9191L0.990234 14.3891H5.30023L6.63023 10.2891Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="1.5", stroke-linejoin="round")
                                    path(d="M37.6009 10.2891L38.9309 14.3891H43.2509L39.7609 16.9191L41.0909 21.0191L37.6009 18.4891L34.1109 21.0191L35.4509 16.9191L31.9609 14.3891H36.2709L37.6009 10.2891Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="1.5", stroke-linejoin="round")
                                    path(d="M21.7402 1L23.4102 6.15H28.8302L24.4502 9.33L26.1202 14.47L21.7402 11.29L17.3602 14.47L19.0402 9.33L14.6602 6.15H20.0702L21.7402 1Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-linejoin="round")
                                defs
                                    clipPath#clip0_629_5843
                                        rect(width="43.76", height="44.53", fill="white", transform="translate(0.240234)")
                        .content-element 
                            .content-title 
                                h4.color-darck.font-w-md.font-sm.pb-1 دراسة محفزات الشراء، ووضع خطة على أساسها
                            .content-text 
                                p.color-darck.font-xs.font-w-sm لأن العميل إنسان عنده آمال وتطلعات، فإننا نربط المنتجات والمتجر باحتياجاته ونربط المنتج بأنه الشعور الجيد بتلبية الرغبة الذاتية   
                .col-lg-4.col-md-6.d-flex.pb-4 
                    .theCard
                        .theCard-img.pb-2 
                            svg(xmlns="http://www.w3.org/2000/svg", width="42", height="42", viewBox="0 0 42 42", fill="none")
                                g(clip-path="url(#clip0_629_5829)")
                                    path(d="M37.1595 1H3.76953C2.66496 1 1.76953 1.89543 1.76953 3V30.35C1.76953 31.4546 2.66496 32.35 3.76953 32.35H37.1595C38.2641 32.35 39.1595 31.4546 39.1595 30.35V3C39.1595 1.89543 38.2641 1 37.1595 1Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M20.459 32.3516V37.6716", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M15.5293 40.4688H25.3993", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M11.5801 24.668H29.3501", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M28.3401 8.67969H12.5801C12.0278 8.67969 11.5801 9.1274 11.5801 9.67969V17.2797C11.5801 17.832 12.0278 18.2797 12.5801 18.2797H28.3401C28.8924 18.2797 29.3401 17.832 29.3401 17.2797V9.67969C29.3401 9.1274 28.8924 8.67969 28.3401 8.67969Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M26.8086 21.1289L41.4886 34.5289", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M26.8486 28.5214C31.0128 28.5214 34.3886 25.1456 34.3886 20.9814C34.3886 16.8172 31.0128 13.4414 26.8486 13.4414C22.6844 13.4414 19.3086 16.8172 19.3086 20.9814C19.3086 25.1456 22.6844 28.5214 26.8486 28.5214Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                defs
                                    clipPath#clip0_629_5829
                                        rect(width="41.23", height="41.47", fill="white", transform="translate(0.769531)")
                        .content-element 
                            .content-title 
                                h4.color-darck.font-w-md.font-sm.pb-1 دراسة محفزات الشراء، ووضع خطة على أساسه
                            .content-text 
                                p.color-darck.font-xs.font-w-sm حدد مجموعة التصاميم المطلوبة والهدف من كل واحد من التصاميم، بعدها تحصل على أكثر من تصور وبمجرد اعتماده يبدأ التنفيذ.
    section.We-help-you-in-managing-accounts.pt-5
        .container 
            .parent-content-element 
                .content-element 
                    .content-title.pb-1
                        h3.color-darck.font-md.font-w-lg كيف نقدم لك تصاميم بأفضل جودة؟
                    .content-text.pb-2 
                        p.color-darck.font-xs.font-w-sm.lin-md حدد مجموعة التصاميم المطلوبة والهدف من كل واحد من التصاميم، بعدها تحصل على أكثر من تصور وبمجرد اعتماده يبدأ التنفيذ.                               
                    .parent-deescription 
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm سرعة في تسليم التصاميم
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm متخصصين في التجارة الإلكترونية 
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm فريق كامل من المصممين المحترفين
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm اطلب تعديلاتك على التصاميم وسعداء بتنفيذها
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm مكان واحد لجميع احتياجاتك من التصاميم
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm أفضل جودة مقابل تكلفة لخدمات التصميم
                .content-img-section 
                    img(src="../static/Services-Design service-images/img-section.svg", class="width-md" alt="")                
    section.We-help-with-brand-strength.pt-5 
        .container 
            .content-title.pt-5.width-lg.m-auto
                h3.color-darck.font-w-lg.font-bold.text-center.pb-5 احصل على ضعف احتياجاتك من التصاميم بشكل أسرع، وتكلفة أقل.. وقبل كل شيء جودة أعلى
            .row.pt-3
                .col-lg-6.d-flex.pb-4 
                    .thecard
                        .content-icon
                            svg(xmlns="http://www.w3.org/2000/svg", width="58", height="58", viewBox="0 0 58 58", fill="none")
                                g(clip-path="url(#clip0_629_5477)")
                                    path(d="M33.8143 1.37109H4.12642C2.60685 1.37109 1.375 2.59858 1.375 4.11276V42.0986C1.375 43.6128 2.60685 44.8402 4.12642 44.8402H33.8143C35.3338 44.8402 36.5657 43.6128 36.5657 42.0986V4.11276C36.5657 2.59858 35.3338 1.37109 33.8143 1.37109Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M41.5174 6.91016H11.8295C10.31 6.91016 9.07812 8.13764 9.07812 9.65182V47.6376C9.07812 49.1518 10.31 50.3793 11.8295 50.3793H41.5174C43.037 50.3793 44.2688 49.1518 44.2688 47.6376V9.65182C44.2688 8.13764 43.037 6.91016 41.5174 6.91016Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M53.8872 11.625H19.6733C18.1537 11.625 16.9219 12.8525 16.9219 14.3667V53.8878C16.9219 55.402 18.1537 56.6295 19.6733 56.6295H53.8872C55.4068 56.6295 56.6387 55.402 56.6387 53.8878V14.3667C56.6387 12.8525 55.4068 11.625 53.8872 11.625Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M26.9238 41.4141H46.624", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M45.2621 23.7305H28.2995C27.5398 23.7305 26.9238 24.3442 26.9238 25.1013V32.9699C26.9238 33.727 27.5398 34.3407 28.2995 34.3407H45.2621C46.0219 34.3407 46.6378 33.727 46.6378 32.9699V25.1013C46.6378 24.3442 46.0219 23.7305 45.2621 23.7305Z", fill="#F2B705", stroke="#F2B705", stroke-width="1.5", stroke-miterlimit="10", stroke-linecap="square")
                                defs
                                    clipPath#clip0_629_5477
                                        rect(width="58", height="58", fill="white")
                        .content-element 
                            .content-title.mt-2
                                h4.color-darck.font-w-lg.font-sm البحث الموسع
                            .content-text
                                p.color-darck.font-xs.font-w-sm.line-lg كل الأشياء العظيمة تبدأ من عميلة البحث الجيد، لذلك قبل كتابة أي حرف أو وضع أي خطط، ندرس البراند بكل تفاصيله، وندرس حالة المنافسة، ونقف على نقاط القوة والضعف والفرص المتاحة لتعزيز العلامة التجارية
                .col-lg-6.d-flex.pb-4
                    .thecard
                        .content-icon
                            svg(xmlns="http://www.w3.org/2000/svg", width="57", height="63", viewBox="0 0 57 63", fill="none")
                                g(clip-path="url(#clip0_629_5505)")
                                    path(d="M37.7579 24.0913C43.969 24.0913 49.0041 19.0253 49.0041 12.7761C49.0041 6.52692 43.969 1.46094 37.7579 1.46094C31.5468 1.46094 26.5117 6.52692 26.5117 12.7761C26.5117 19.0253 31.5468 24.0913 37.7579 24.0913Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M37.7575 28.2539C47.5671 28.2539 55.5483 36.2694 55.5483 46.1538V47.351H19.9668V46.1538C19.9668 36.284 27.9334 28.2539 37.7575 28.2539Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M6.92135 59.9746L6.35541 56.7625L3.14844 56.1785L15.5555 43.6953L19.3284 47.506L6.92135 59.9746Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M24.1747 59.9746L24.7551 56.7625L27.9476 56.1785L15.555 43.6953L11.7676 47.506L24.1747 59.9746Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M16.3249 27.374L18.7918 29.8561C19.1255 30.1919 19.5609 30.3671 20.0252 30.3671H23.5079C24.4657 30.3671 25.2493 31.1555 25.2493 32.1191V35.6232C25.2493 36.0904 25.4379 36.5284 25.7572 36.8642L28.2241 39.3462C28.9061 40.0324 28.9061 41.1421 28.2241 41.8283L25.7572 44.3103C25.4234 44.6461 25.2493 45.0841 25.2493 45.5513V49.0554C25.2493 50.019 24.4657 50.8074 23.5079 50.8074H20.0252C19.5609 50.8074 19.1255 50.9972 18.7918 51.3184L16.3249 53.8005C15.6428 54.4867 14.54 54.4867 13.858 53.8005L11.3911 51.3184C11.0573 50.9826 10.622 50.8074 10.1576 50.8074H6.67493C5.71719 50.8074 4.93358 50.019 4.93358 49.0554V45.5513C4.93358 45.0841 4.74494 44.6461 4.42569 44.3103L1.95879 41.8283C1.27676 41.1421 1.27676 40.0324 1.95879 39.3462L4.42569 36.8642C4.75945 36.5284 4.93358 36.0904 4.93358 35.6232V32.1191C4.93358 31.1555 5.71719 30.3671 6.67493 30.3671H10.1576C10.622 30.3671 11.0573 30.1773 11.3911 29.8561L13.858 27.374C14.54 26.6878 15.6428 26.6878 16.3249 27.374Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-miterlimit="10")
                                defs
                                    clipPath#clip0_629_5505
                                        rect(width="57", height="63", fill="white")
                        .content-element 
                            .content-title.mt-2
                                h4.color-darck.font-w-lg.font-sm البحث الموسع
                            .content-text
                                p.color-darck.font-xs.font-w-sm.line-lg كل الأشياء العظيمة تبدأ من عميلة البحث الجيد، لذلك قبل كتابة أي حرف أو وضع أي خطط، ندرس البراند بكل تفاصيله، وندرس حالة المنافسة، ونقف على نقاط القوة والضعف والفرص المتاحة لتعزيز العلامة التجارية
                .col-lg-6.d-flex.pb-4
                    .thecard
                        .content-icon
                            svg(xmlns="http://www.w3.org/2000/svg", width="61", height="50", viewBox="0 0 61 50", fill="none")
                                g(clip-path="url(#clip0_629_5490)")
                                    path(d="M14.9509 25.8008H8.15361C7.80665 25.8008 7.52539 26.0809 7.52539 26.4264V48.1231C7.52539 48.4686 7.80665 48.7487 8.15361 48.7487H14.9509C15.2979 48.7487 15.5791 48.4686 15.5791 48.1231V26.4264C15.5791 26.0809 15.2979 25.8008 14.9509 25.8008Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M32.2536 23.3633H26.2981C25.9512 23.3633 25.6699 23.6434 25.6699 23.9889V48.1255C25.6699 48.4711 25.9512 48.7512 26.2981 48.7512H32.2536C32.6006 48.7512 32.8819 48.4711 32.8819 48.1255V23.9889C32.8819 23.6434 32.6006 23.3633 32.2536 23.3633Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M51.6893 9.59766H43.4974C43.1504 9.59766 42.8691 9.87776 42.8691 10.2233V48.1237C42.8691 48.4692 43.1504 48.7493 43.4974 48.7493H51.6893C52.0363 48.7493 52.3175 48.4692 52.3175 48.1237V10.2233C52.3175 9.87776 52.0363 9.59766 51.6893 9.59766Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M56.8286 48.75H0", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M29.1485 16.1649C33.2842 16.1649 36.6369 12.8261 36.6369 8.70746C36.6369 4.58882 33.2842 1.25 29.1485 1.25C25.0128 1.25 21.6602 4.58882 21.6602 8.70746C21.6602 12.8261 25.0128 16.1649 29.1485 16.1649Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M27.604 10.9362C27.2522 10.5984 27.0135 10.1854 26.9004 9.69746L28.0061 9.27203C28.0563 9.5473 28.1694 9.79756 28.3453 10.0228C28.5086 10.248 28.7348 10.3982 29.0238 10.4732V8.8466L28.8353 8.80907C28.4961 8.7465 28.1945 8.6464 27.9558 8.49625C27.7171 8.35862 27.5286 8.15842 27.3904 7.90817C27.2522 7.65792 27.1894 7.3451 27.1894 6.98224C27.1894 6.68194 27.2648 6.40666 27.403 6.1439C27.5412 5.88114 27.7548 5.66843 28.0312 5.49325C28.3076 5.31808 28.6343 5.20546 29.0238 5.16793V4.42969H29.8153V5.18044C30.1671 5.23049 30.4687 5.33059 30.72 5.49325C30.9712 5.6434 31.1848 5.83109 31.3356 6.05631C31.4864 6.28154 31.612 6.51928 31.6874 6.76953L30.632 7.18244C30.5817 7.03229 30.5189 6.90717 30.4561 6.78204C30.3807 6.65691 30.2928 6.5443 30.1797 6.45671C30.0666 6.36913 29.9535 6.29405 29.8028 6.25651V7.75802L30.0289 7.80807C30.5315 7.92068 30.9461 8.13339 31.2602 8.42118C31.5743 8.70897 31.7377 9.12188 31.7377 9.64741C31.7377 10.1479 31.5743 10.5608 31.2477 10.9112C30.921 11.2615 30.4435 11.4617 29.8028 11.5243V12.2625H29.0112V11.5118C28.4332 11.4492 27.9558 11.249 27.604 10.9112V10.9362ZM29.0112 7.1449V6.244C28.7976 6.29405 28.6468 6.38164 28.5463 6.50676C28.4458 6.63189 28.3956 6.78204 28.3956 6.93219C28.3956 7.11988 28.4458 7.27003 28.5589 7.38264C28.672 7.49525 28.8227 7.57033 29.0238 7.63289V7.1449H29.0112ZM30.2048 10.3481C30.3053 10.273 30.3933 10.1854 30.4435 10.0853C30.4938 9.98524 30.5189 9.87263 30.5189 9.73499C30.5189 9.59736 30.4938 9.49726 30.431 9.39716C30.3682 9.29706 30.2928 9.20947 30.1797 9.1469C30.0666 9.08434 29.941 9.03429 29.7902 8.99675V10.4983C29.9535 10.4732 30.0917 10.4232 30.1923 10.3356L30.2048 10.3481Z", fill="#4832D9")
                                    path(d="M27.9434 46.1353L35.5951 37.852L40.9852 43.2449L54.5547 27.2539", stroke="#F2B705", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M50.0684 22.6851L59.7429 21.9844L59.0393 31.619L50.0684 22.6851Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                defs
                                    clipPath#clip0_629_5490
                                        rect(width="61", height="50", fill="white")
                        .content-element 
                            .content-title.mt-2
                                h4.color-darck.font-w-lg.font-sm البحث الموسع
                            .content-text
                                p.color-darck.font-xs.font-w-sm.line-lg كل الأشياء العظيمة تبدأ من عميلة البحث الجيد، لذلك قبل كتابة أي حرف أو وضع أي خطط، ندرس البراند بكل تفاصيله، وندرس حالة المنافسة، ونقف على نقاط القوة والضعف والفرص المتاحة لتعزيز العلامة التجارية.
                .col-lg-6.d-flex.pb-4 
                    .thecard
                        .content-icon
                            svg(xmlns="http://www.w3.org/2000/svg", width="56", height="48", viewBox="0 0 56 48", fill="none")
                                g(clip-path="url(#clip0_629_5517)")
                                    path(d="M15.4317 46.7934H52.3606C53.6951 46.7934 54.787 45.7088 54.787 44.3831V6.71103C54.787 5.38539 53.6951 4.30078 52.3606 4.30078H16.1353C14.8008 4.30078 13.709 5.38539 13.709 6.71103V13.6646", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M46.2697 19.3789H22.2246", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M46.2697 31.707H22.2246", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M25.5137 0V7.78509", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M35.5586 0V7.78509", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M45.5918 0V7.78509", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M12.6288 20.9727C6.32034 20.9727 1.21289 26.0462 1.21289 32.3129C1.21289 38.5795 6.32034 43.653 12.6288 43.653C18.3065 43.653 23.8992 39.6038 23.8992 34.1326", stroke="#F2B705", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M11.9492 27.7227V33.7121H17.3964", stroke="#F2B705", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M11.9492 17.7773L15.6615 20.9709L11.9492 24.1645V17.7773Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-linejoin="round")
                                defs
                                    clipPath#clip0_629_5517
                                        rect(width="61", height="50", fill="white")
                        .content-element 
                            .content-title.mt-2
                                h4.color-darck.font-w-lg.font-sm البحث الموسع
                            .content-text
                                p.color-darck.font-xs.font-w-sm.line-lg كل الأشياء العظيمة تبدأ من عميلة البحث الجيد، لذلك قبل كتابة أي حرف أو وضع أي خطط، ندرس البراند بكل تفاصيله، وندرس حالة المنافسة، ونقف على نقاط القوة والضعف والفرص المتاحة لتعزيز العلامة التجارية.   
    include ../components/The-Success stories.pug  
    include ../components/The-Connect with us.pug
    include ../components/The-Footer.pug                 

