extends ../Layouts/default.pug
block content
    include ../components/The-Header.pug
    section.Services-Advertising-production-service.intro
        .container 
            .parent-intro
                .row 
                    .col-lg-6.d-flex.align-items-center.pb-5
                        .content 
                            .content-title 
                                h1.color-darck.font-lg.font-w-lg جوجل صديق متجرك
                            .content-text 
                                p.color-darck.font-xs.font-w-sm عزز ظهورك في محرك البحث، وكن منتظرًا لعملائك في نتائج البحث الأولى، عند بحثهم عن المنتجات
                            .content-btn.btn-.btn-primary
                                a.color-wight.font-xs.font-w-sm اطلب استشارة مجانية
                    .col-lg-6.d-flex.pb-5
                        .intro-img
                            img(src="../static/Services-Advertisingproductionservice-imags/img-intro.svg", alt="intro-img" title="intro-img" class="width-md")
    include ../components/More than just an advertising campaign.pug
    section.Learn-about-our-strategy.pt-5
        .container
            .content-title 
                h3.color-darck.font-bold.font-w-lg.line-md.text-center.pb-5 تعرف على استراتيجيتنا في مضاعفة زيارات موقعك!
            .row.pb-5
                .col-lg-4.col-md-6.pb-4.d-flex
                    .theCard 
                        .theCard-img.pb-3 
                            svg(xmlns="http://www.w3.org/2000/svg", width="44", height="43", viewBox="0 0 44 43", fill="none")
                                g(clip-path="url(#clip0_629_3917)")
                                    path(d="M21.8991 39.6614C32.039 39.6614 40.2591 31.4414 40.2591 21.3014C40.2591 11.1615 32.039 2.94141 21.8991 2.94141C11.7591 2.94141 3.53906 11.1615 3.53906 21.3014C3.53906 31.4414 11.7591 39.6614 21.8991 39.6614Z", fill="#F8F8F8")
                                    mask#mask0_629_3917(style="mask-type:luminance", maskUnits="userSpaceOnUse", x="3", y="2", width="38", height="38")
                                    path(d="M21.8991 39.6614C32.039 39.6614 40.2591 31.4414 40.2591 21.3014C40.2591 11.1615 32.039 2.94141 21.8991 2.94141C11.7591 2.94141 3.53906 11.1615 3.53906 21.3014C3.53906 31.4414 11.7591 39.6614 21.8991 39.6614Z", fill="white")
                                    g(mask="url(#mask0_629_3917)")
                                    path(d="M21.9004 41.6C26.4567 41.6 30.1504 32.5114 30.1504 21.3C30.1504 10.0886 26.4567 1 21.9004 1C17.344 1 13.6504 10.0886 13.6504 21.3C13.6504 32.5114 17.344 41.6 21.9004 41.6Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M21.8996 29.5508C33.111 29.5508 42.1996 25.8571 42.1996 21.3008C42.1996 16.7444 33.111 13.0508 21.8996 13.0508C10.6882 13.0508 1.59961 16.7444 1.59961 21.3008C1.59961 25.8571 10.6882 29.5508 21.8996 29.5508Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M21.8991 39.6614C32.039 39.6614 40.2591 31.4414 40.2591 21.3014C40.2591 11.1615 32.039 2.94141 21.8991 2.94141C11.7591 2.94141 3.53906 11.1615 3.53906 21.3014C3.53906 31.4414 11.7591 39.6614 21.8991 39.6614Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M34.4191 39.6586C39.0031 39.6586 42.7191 35.9426 42.7191 31.3586C42.7191 26.7746 39.0031 23.0586 34.4191 23.0586C29.8352 23.0586 26.1191 26.7746 26.1191 31.3586C26.1191 35.9426 29.8352 39.6586 34.4191 39.6586Z", fill="#F2B705", stroke="#F2B705", stroke-width="2.56", stroke-miterlimit="10")
                                    path(d="M29 30.33L31.21 33.97L39.84 28.75", stroke="#4832D9", stroke-width="1.92", stroke-miterlimit="10")
                                defs
                                    clipPath#clip0_629_3917
                                        rect(width="43.4", height="42.6", fill="white", transform="translate(0.599609)")
                        .theCard-content    
                            .content-title.pb-1
                                h4.color-darck.font-sm.font-w-md فحص داخلي للموقع
                            .content-text 
                                p.color-darck.font-xs.font-w-sm راسة أهم المنافسين للمتجر عامة والمنافسين في قوقل من حيث نقاط القوة والضعف
                .col-lg-4.col-md-6.pb-4.d-flex 
                    .theCard 
                        .theCard-img.pb-3 
                            svg(xmlns="http://www.w3.org/2000/svg", width="46", height="34", viewBox="0 0 46 34", fill="none")
                                g(clip-path="url(#clip0_629_3904)")
                                    path(d="M12.3377 13.9492H6.92773C6.65159 13.9492 6.42773 14.1731 6.42773 14.4492V31.7892C6.42773 32.0654 6.65159 32.2892 6.92773 32.2892H12.3377C12.6139 32.2892 12.8377 32.0654 12.8377 31.7892V14.4492C12.8377 14.1731 12.6139 13.9492 12.3377 13.9492Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M26.1072 18.4219H21.3672C21.091 18.4219 20.8672 18.6457 20.8672 18.9219V31.7919C20.8672 32.068 21.091 32.2919 21.3672 32.2919H26.1072C26.3833 32.2919 26.6072 32.068 26.6072 31.7919V18.9219C26.6072 18.6457 26.3833 18.4219 26.1072 18.4219Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M41.5766 1H35.0566C34.7805 1 34.5566 1.22386 34.5566 1.5V31.79C34.5566 32.0661 34.7805 32.29 35.0566 32.29H41.5766C41.8528 32.29 42.0766 32.0661 42.0766 31.79V1.5C42.0766 1.22386 41.8528 1 41.5766 1Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M45.6675 32.2891H0.4375", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M23.727 7.27047C25.2569 7.27047 26.497 6.0303 26.497 4.50047C26.497 2.97064 25.2569 1.73047 23.727 1.73047C22.1972 1.73047 20.957 2.97064 20.957 4.50047C20.957 6.0303 22.1972 7.27047 23.727 7.27047Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="1.32", stroke-miterlimit="10")
                                    path(d="M23.298 9.60938H24.178C26.738 9.60938 28.818 11.6894 28.818 14.2494H18.668C18.668 11.6894 20.748 9.60938 23.308 9.60938H23.298Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="1.42", stroke-miterlimit="10")
                                defs
                                    clipPath#clip0_629_3904
                                        rect(width="45.23", height="33.29", fill="white", transform="translate(0.4375)")
                        .theCard-content    
                            .content-title.pb-1
                                h4.color-darck.font-sm.font-w-md فحص داخلي للموقع
                            .content-text 
                                p.color-darck.font-xs.font-w-sm راسة أهم المنافسين للمتجر عامة والمنافسين في قوقل من حيث نقاط القوة والضعف
                .col-lg-4.col-md-6.pb-4.d-flex 
                    .theCard 
                        .theCard-img.pb-3 
                            svg(xmlns="http://www.w3.org/2000/svg", width="50", height="42", viewBox="0 0 50 42", fill="none")
                                g(clip-path="url(#clip0_629_3891)")
                                    path(d="M35.6033 1H3.36328C2.25871 1 1.36328 1.89543 1.36328 3V38.58C1.36328 39.6846 2.25871 40.58 3.36328 40.58H35.6033C36.7079 40.58 37.6033 39.6846 37.6033 38.58V3C37.6033 1.89543 36.7079 1 35.6033 1Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M30.5131 10.3984H8.45312", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M30.5131 21.1992H8.45312", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M30.5131 31.1797H8.45312", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M34.4434 24.6172L48.6634 37.4972", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M34.443 32.5188C38.806 32.5188 42.343 28.9818 42.343 24.6188C42.343 20.2557 38.806 16.7188 34.443 16.7188C30.0799 16.7188 26.543 20.2557 26.543 24.6188C26.543 28.9818 30.0799 32.5188 34.443 32.5188Z", fill="#F2B705", stroke="#F2B705", stroke-width="1.91", stroke-miterlimit="10")
                                defs
                                    clipPath#clip0_629_3891
                                        rect(width="48.97", height="41.58", fill="white", transform="translate(0.363281)")
                        .theCard-content    
                            .content-title.pb-1
                                h4.color-darck.font-sm.font-w-md فحص داخلي للموقع
                            .content-text 
                                p.color-darck.font-xs.font-w-sm عمل قائمة بالكلمات المفتاحية الأكثر صلة بالمتجر ومجاله بدقة للتركيز عليها
                .col-lg-4.col-md-6.pb-4.d-flex 
                    .theCard 
                        .theCard-img.pb-3 
                            svg(xmlns="http://www.w3.org/2000/svg", width="59", height="44", viewBox="0 0 59 44", fill="none")
                                g(clip-path="url(#clip0_629_3966)")
                                    path(d="M1.89844 2.99875L1.89844 40.2188C1.89844 41.3233 2.79387 42.2188 3.89844 42.2188H39.4784C40.583 42.2188 41.4784 41.3233 41.4784 40.2188V2.99875C41.4784 1.89418 40.583 0.998749 39.4784 0.998749H3.89844C2.79387 0.998749 1.89844 1.89418 1.89844 2.99875Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M7.37891 7.70875L7.37891 40.2188C7.37891 41.3233 8.27434 42.2188 9.37891 42.2188H44.9589C46.0635 42.2188 46.9589 41.3233 46.9589 40.2188V7.70875C46.9589 6.60418 46.0635 5.70875 44.9589 5.70875H9.37891C8.27434 5.70875 7.37891 6.60418 7.37891 7.70875Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M23.9883 15.8516L31.9083 22.6916L23.9883 29.5316V15.8516Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M32.6875 41.1408L38.7775 34.5208L43.0675 38.8308L53.8675 26.0508", stroke="#F2B705", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M50.2988 22.3998L57.9988 21.8398L57.4388 29.5298L50.2988 22.3998Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                defs
                                    clipPath#clip0_629_3966
                                        rect(width="58.1", height="43.22", fill="white", transform="translate(0.898438)")
                        .theCard-content    
                            .content-title.pb-1 
                                h4.color-darck.font-sm.font-w-md فحص داخلي للموقع
                            .content-text 
                                p.color-darck.font-xs.font-w-sm عمل قائمة بالكلمات المفتاحية الأكثر صلة بالمتجر ومجاله بدقة للتركيز عليها
                .col-lg-4.col-md-6.pb-4.d-flex 
                    .theCard 
                        .theCard-img.pb-3 
                           svg(xmlns="http://www.w3.org/2000/svg", width="35", height="42", viewBox="0 0 35 42", fill="none")
                                path(d="M10.9082 24.8307L16.9982 28.8907C19.5682 30.6007 23.0482 29.9107 24.7582 27.3307L32.3582 15.9307C35.2582 11.5707 34.0782 5.68065 29.7182 2.78065L29.4382 2.60065C25.0782 -0.299346 19.1882 0.880653 16.2882 5.24065L14.1582 8.30065", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M17.9284 10.3813L20.0884 7.14132C21.4384 5.11132 24.1784 4.56132 26.1984 5.91132L27.8884 7.04132C29.9184 8.39132 30.4684 11.1313 29.1184 13.1513L23.0984 22.1913C21.7484 24.2113 19.0184 24.7613 16.9984 23.4113L14.1484 21.5113", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M18.8877 36.1408C15.9877 40.5008 10.0977 41.6808 5.73773 38.7808L5.45773 38.6008C1.10773 35.6908 -0.0722748 29.8008 2.82773 25.4408L8.52773 16.8808C11.2877 12.7408 16.8877 11.6208 21.0277 14.3808L24.2777 16.5408", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M15.0878 34.2294C13.7378 36.2594 10.9978 36.8094 8.9778 35.4594L7.2878 34.3294C5.2578 32.9794 4.7078 30.2394 6.0578 28.2194L11.7978 19.5994C13.2978 17.3394 16.3478 16.7294 18.6078 18.2394L21.0278 19.8494", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                        .theCard-content    
                            .content-title.pb-1 
                                h4.color-darck.font-sm.font-w-md فحص داخلي للموقع
                            .content-text 
                                p.color-darck.font-xs.font-w-sm تحسين السيو الداخلي، عن طريق تحسين المحتوى وتحسين الربط بين صفحات الموقع والتركيز على الكلمات المفتاحية الأكثر أهمية
                .col-lg-4.col-md-6.pb-4.d-flex 
                    .theCard 
                        .theCard-img.pb-3 
                            svg(xmlns="http://www.w3.org/2000/svg", width="50", height="42", viewBox="0 0 50 42", fill="none")
                                g(clip-path="url(#clip0_629_3935)")
                                    path(d="M46.3338 1.91016H14.0938C12.9892 1.91016 12.0938 2.80559 12.0938 3.91016V30.2902C12.0938 31.3947 12.9892 32.2902 14.0938 32.2902H46.3338C47.4383 32.2902 48.3338 31.3947 48.3338 30.2902V3.91016C48.3338 2.80559 47.4383 1.91016 46.3338 1.91016Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M43.3647 23.0894H17.0547C17.0547 22.0894 17.0547 14.1094 17.0547 13.1094H43.3647C43.3647 14.1094 43.3647 22.0894 43.3647 23.0894Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="1.5", stroke-linejoin="round")
                                    path(d="M21.0938 18.1016H34.3037", stroke="#4832D9", stroke-width="1.5", stroke-linejoin="round")
                                    path(d="M30.3633 32.1094V37.8394", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M25.8945 40.1602H35.4545", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M7.57477 2.39062L3.63477 7.40063L17.8448 18.5706C17.9748 18.6706 18.1248 18.7306 18.2848 18.7506L23.1948 19.2306C23.5348 19.2606 23.7948 18.9306 23.6748 18.6106L22.0548 13.9506C22.0048 13.8006 21.9048 13.6606 21.7848 13.5606L7.57477 2.39062Z", fill="#F2B705")
                                    path(d="M4.52453 0.0037487L0.587891 5.01172L2.7263 6.69267L6.66294 1.6847L4.52453 0.0037487Z", fill="#F2B705")
                                    path(d="M38.293 17.5L40.893 20.1", stroke="#4832D9", stroke-linejoin="round")
                                    path(d="M38.2928 18.9098C39.0715 18.9098 39.7028 18.2786 39.7028 17.4998C39.7028 16.7211 39.0715 16.0898 38.2928 16.0898C37.5141 16.0898 36.8828 16.7211 36.8828 17.4998C36.8828 18.2786 37.5141 18.9098 38.2928 18.9098Z", fill="white", stroke="#4832D9", stroke-linejoin="round")
                                defs
                                    clipPath#clip0_629_3935
                                        rect(width="48.74", height="41.16", fill="white", transform="translate(0.59375)")
                        .theCard-content    
                            .content-title.pb-1 
                                h4.color-darck.font-sm.font-w-md فحص داخلي للموقع
                            .content-text 
                                p.color-darck.font-xs.font-w-sm كتابة المحتوى في الموقع بما يتناسب مع محرك البحث، سواءً مقالات أو وصف للمنتجات 
    section.How-can-SEO-service-help-you.pt-5
        .container
            .content-title 
                h4.color-darck.font-md.font-w-lg.line-md.text-center.pb-5 كيف ممكن أن تساعدك خدمة السيو؟
            .row.pb-5.pt-1 
                .col-lg-6.col-md-6.pb-4
                    .card.border-0.padding-card.border-r-sm.bg-card
                        .card-img 
                            svg(xmlns="http://www.w3.org/2000/svg", width="58", height="61", viewBox="0 0 58 61", fill="none")
                                g(clip-path="url(#clip0_629_3994)")
                                    path(d="M18.3675 15.3047H39.6169C41.3005 15.3047 42.6656 16.6683 42.6656 18.3501V38.6835H15.334V18.3501C15.334 16.6683 16.699 15.3047 18.3826 15.3047H18.3675Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M15.8349 10.3789H42.1503C42.4536 10.3789 42.7418 10.5607 42.8783 10.8335L47.201 19.4244C47.474 19.9698 47.0797 20.6213 46.473 20.6213H11.5274C10.9207 20.6213 10.5112 19.985 10.7993 19.4244L15.122 10.8335C15.2585 10.5607 15.5467 10.3789 15.8501 10.3789H15.8349Z", fill="#F2B705", stroke="#F2B705", stroke-width="1.5", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M53.4506 1.51562H4.55105C2.87571 1.51562 1.51758 2.87234 1.51758 4.54593V44.5156C1.51758 46.1892 2.87571 47.5459 4.55105 47.5459H53.4506C55.126 47.5459 56.4841 46.1892 56.4841 44.5156V4.54593C56.4841 2.87234 55.126 1.51562 53.4506 1.51562Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M29.2285 47.2734V55.9553", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M22.4492 59.4844H36.9492", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M42.4531 33.9844L56.1493 46.3632", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M42.9535 42.4398C47.7366 42.4398 51.6141 38.5663 51.6141 33.7882C51.6141 29.0101 47.7366 25.1367 42.9535 25.1367C38.1704 25.1367 34.293 29.0101 34.293 33.7882C34.293 38.5663 38.1704 42.4398 42.9535 42.4398Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M43.0598 33.3335H47.6858C47.7162 33.4395 47.7313 33.5607 47.7465 33.7122C47.7617 33.8638 47.7768 34.0153 47.7768 34.1668C47.7768 34.7728 47.6858 35.3486 47.5038 35.8789C47.3218 36.4092 47.0336 36.8941 46.6393 37.3183C46.2146 37.7728 45.7141 38.1213 45.1226 38.3638C44.531 38.6062 43.8637 38.7274 43.1053 38.7274C42.4228 38.7274 41.7706 38.6062 41.1639 38.3638C40.5572 38.1213 40.0263 37.7728 39.5865 37.3335C39.1314 36.8941 38.7826 36.3789 38.5096 35.7728C38.2517 35.1668 38.1152 34.5153 38.1152 33.8031C38.1152 33.091 38.2517 32.4395 38.5096 31.8335C38.7674 31.2274 39.1314 30.7122 39.5865 30.2728C40.0415 29.8335 40.5572 29.485 41.1639 29.2425C41.7706 29.0001 42.4228 28.8789 43.1053 28.8789C43.8637 28.8789 44.5614 29.0153 45.1529 29.2728C45.7596 29.5304 46.2753 29.8941 46.7 30.3638L45.4714 31.5607C45.1681 31.2425 44.8192 30.985 44.44 30.8183C44.0608 30.6516 43.6058 30.5607 43.075 30.5607C42.6503 30.5607 42.2408 30.6365 41.8464 30.788C41.4672 30.9395 41.1184 31.1668 40.8302 31.4395C40.542 31.7274 40.3145 32.0607 40.1325 32.4547C39.9657 32.8486 39.8747 33.3031 39.8747 33.788C39.8747 34.2728 39.9657 34.7274 40.1325 35.1213C40.2993 35.5153 40.542 35.8638 40.8302 36.1365C41.1184 36.4244 41.4672 36.6365 41.8464 36.788C42.2256 36.9395 42.6503 37.0153 43.0901 37.0153C43.5907 37.0153 44.0153 36.9395 44.3642 36.8032C44.713 36.6516 45.0012 36.4698 45.2591 36.2425C45.4411 36.091 45.5927 35.8789 45.7141 35.6365C45.8354 35.3941 45.9416 35.1213 46.0174 34.8335H43.0446V33.3183L43.0598 33.3335Z", fill="#4832D9")
                                defs
                                    clipPath#clip0_629_3994
                                        rect(width="58", height="61", fill="white")
                        .card-body
                            .card-titile
                                h4.color-darck.font-sm.font-w-md استغل قوة جوجل
                            .card-text
                                p.color-darck.font-xs.font-w-sm الوصول للعملاء في وقت يبحثون فيه عن المنتج يعتبر واحدة من أنجح الطرق لزيادة المبيعات، وبالتالي تحسين ترتيب موقعك وزيادة زياراتك من قوقل هي استثمار هام جدًا لمتجرك
                .col-lg-6.col-md-6.pb-4
                    .card.border-0.padding-card.border-r-sm.bg-card
                        .card-img 
                            svg(xmlns="http://www.w3.org/2000/svg", width="58", height="61", viewBox="0 0 58 61", fill="none")
                                g(clip-path="url(#clip0_629_3994)")
                                    path(d="M18.3675 15.3047H39.6169C41.3005 15.3047 42.6656 16.6683 42.6656 18.3501V38.6835H15.334V18.3501C15.334 16.6683 16.699 15.3047 18.3826 15.3047H18.3675Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M15.8349 10.3789H42.1503C42.4536 10.3789 42.7418 10.5607 42.8783 10.8335L47.201 19.4244C47.474 19.9698 47.0797 20.6213 46.473 20.6213H11.5274C10.9207 20.6213 10.5112 19.985 10.7993 19.4244L15.122 10.8335C15.2585 10.5607 15.5467 10.3789 15.8501 10.3789H15.8349Z", fill="#F2B705", stroke="#F2B705", stroke-width="1.5", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M53.4506 1.51562H4.55105C2.87571 1.51562 1.51758 2.87234 1.51758 4.54593V44.5156C1.51758 46.1892 2.87571 47.5459 4.55105 47.5459H53.4506C55.126 47.5459 56.4841 46.1892 56.4841 44.5156V4.54593C56.4841 2.87234 55.126 1.51562 53.4506 1.51562Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M29.2285 47.2734V55.9553", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M22.4492 59.4844H36.9492", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M42.4531 33.9844L56.1493 46.3632", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M42.9535 42.4398C47.7366 42.4398 51.6141 38.5663 51.6141 33.7882C51.6141 29.0101 47.7366 25.1367 42.9535 25.1367C38.1704 25.1367 34.293 29.0101 34.293 33.7882C34.293 38.5663 38.1704 42.4398 42.9535 42.4398Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M43.0598 33.3335H47.6858C47.7162 33.4395 47.7313 33.5607 47.7465 33.7122C47.7617 33.8638 47.7768 34.0153 47.7768 34.1668C47.7768 34.7728 47.6858 35.3486 47.5038 35.8789C47.3218 36.4092 47.0336 36.8941 46.6393 37.3183C46.2146 37.7728 45.7141 38.1213 45.1226 38.3638C44.531 38.6062 43.8637 38.7274 43.1053 38.7274C42.4228 38.7274 41.7706 38.6062 41.1639 38.3638C40.5572 38.1213 40.0263 37.7728 39.5865 37.3335C39.1314 36.8941 38.7826 36.3789 38.5096 35.7728C38.2517 35.1668 38.1152 34.5153 38.1152 33.8031C38.1152 33.091 38.2517 32.4395 38.5096 31.8335C38.7674 31.2274 39.1314 30.7122 39.5865 30.2728C40.0415 29.8335 40.5572 29.485 41.1639 29.2425C41.7706 29.0001 42.4228 28.8789 43.1053 28.8789C43.8637 28.8789 44.5614 29.0153 45.1529 29.2728C45.7596 29.5304 46.2753 29.8941 46.7 30.3638L45.4714 31.5607C45.1681 31.2425 44.8192 30.985 44.44 30.8183C44.0608 30.6516 43.6058 30.5607 43.075 30.5607C42.6503 30.5607 42.2408 30.6365 41.8464 30.788C41.4672 30.9395 41.1184 31.1668 40.8302 31.4395C40.542 31.7274 40.3145 32.0607 40.1325 32.4547C39.9657 32.8486 39.8747 33.3031 39.8747 33.788C39.8747 34.2728 39.9657 34.7274 40.1325 35.1213C40.2993 35.5153 40.542 35.8638 40.8302 36.1365C41.1184 36.4244 41.4672 36.6365 41.8464 36.788C42.2256 36.9395 42.6503 37.0153 43.0901 37.0153C43.5907 37.0153 44.0153 36.9395 44.3642 36.8032C44.713 36.6516 45.0012 36.4698 45.2591 36.2425C45.4411 36.091 45.5927 35.8789 45.7141 35.6365C45.8354 35.3941 45.9416 35.1213 46.0174 34.8335H43.0446V33.3183L43.0598 33.3335Z", fill="#4832D9")
                                defs
                                    clipPath#clip0_629_3994
                                        rect(width="58", height="61", fill="white")
                        .card-body
                            .card-titile
                                h4.color-darck.font-sm.font-w-md استغل قوة جوجل
                            .card-text
                                p.color-darck.font-xs.font-w-sm الوصول للعملاء في وقت يبحثون فيه عن المنتج يعتبر واحدة من أنجح الطرق لزيادة المبيعات، وبالتالي تحسين ترتيب موقعك وزيادة زياراتك من قوقل هي استثمار هام جدًا لمتجرك
                .col-lg-6.col-md-6.pb-4
                    .card.border-0.padding-card.border-r-sm.bg-card
                        .card-img 
                            svg(xmlns="http://www.w3.org/2000/svg", width="58", height="61", viewBox="0 0 58 61", fill="none")
                                g(clip-path="url(#clip0_629_3994)")
                                    path(d="M18.3675 15.3047H39.6169C41.3005 15.3047 42.6656 16.6683 42.6656 18.3501V38.6835H15.334V18.3501C15.334 16.6683 16.699 15.3047 18.3826 15.3047H18.3675Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M15.8349 10.3789H42.1503C42.4536 10.3789 42.7418 10.5607 42.8783 10.8335L47.201 19.4244C47.474 19.9698 47.0797 20.6213 46.473 20.6213H11.5274C10.9207 20.6213 10.5112 19.985 10.7993 19.4244L15.122 10.8335C15.2585 10.5607 15.5467 10.3789 15.8501 10.3789H15.8349Z", fill="#F2B705", stroke="#F2B705", stroke-width="1.5", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M53.4506 1.51562H4.55105C2.87571 1.51562 1.51758 2.87234 1.51758 4.54593V44.5156C1.51758 46.1892 2.87571 47.5459 4.55105 47.5459H53.4506C55.126 47.5459 56.4841 46.1892 56.4841 44.5156V4.54593C56.4841 2.87234 55.126 1.51562 53.4506 1.51562Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M29.2285 47.2734V55.9553", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M22.4492 59.4844H36.9492", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M42.4531 33.9844L56.1493 46.3632", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M42.9535 42.4398C47.7366 42.4398 51.6141 38.5663 51.6141 33.7882C51.6141 29.0101 47.7366 25.1367 42.9535 25.1367C38.1704 25.1367 34.293 29.0101 34.293 33.7882C34.293 38.5663 38.1704 42.4398 42.9535 42.4398Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M43.0598 33.3335H47.6858C47.7162 33.4395 47.7313 33.5607 47.7465 33.7122C47.7617 33.8638 47.7768 34.0153 47.7768 34.1668C47.7768 34.7728 47.6858 35.3486 47.5038 35.8789C47.3218 36.4092 47.0336 36.8941 46.6393 37.3183C46.2146 37.7728 45.7141 38.1213 45.1226 38.3638C44.531 38.6062 43.8637 38.7274 43.1053 38.7274C42.4228 38.7274 41.7706 38.6062 41.1639 38.3638C40.5572 38.1213 40.0263 37.7728 39.5865 37.3335C39.1314 36.8941 38.7826 36.3789 38.5096 35.7728C38.2517 35.1668 38.1152 34.5153 38.1152 33.8031C38.1152 33.091 38.2517 32.4395 38.5096 31.8335C38.7674 31.2274 39.1314 30.7122 39.5865 30.2728C40.0415 29.8335 40.5572 29.485 41.1639 29.2425C41.7706 29.0001 42.4228 28.8789 43.1053 28.8789C43.8637 28.8789 44.5614 29.0153 45.1529 29.2728C45.7596 29.5304 46.2753 29.8941 46.7 30.3638L45.4714 31.5607C45.1681 31.2425 44.8192 30.985 44.44 30.8183C44.0608 30.6516 43.6058 30.5607 43.075 30.5607C42.6503 30.5607 42.2408 30.6365 41.8464 30.788C41.4672 30.9395 41.1184 31.1668 40.8302 31.4395C40.542 31.7274 40.3145 32.0607 40.1325 32.4547C39.9657 32.8486 39.8747 33.3031 39.8747 33.788C39.8747 34.2728 39.9657 34.7274 40.1325 35.1213C40.2993 35.5153 40.542 35.8638 40.8302 36.1365C41.1184 36.4244 41.4672 36.6365 41.8464 36.788C42.2256 36.9395 42.6503 37.0153 43.0901 37.0153C43.5907 37.0153 44.0153 36.9395 44.3642 36.8032C44.713 36.6516 45.0012 36.4698 45.2591 36.2425C45.4411 36.091 45.5927 35.8789 45.7141 35.6365C45.8354 35.3941 45.9416 35.1213 46.0174 34.8335H43.0446V33.3183L43.0598 33.3335Z", fill="#4832D9")
                                defs
                                    clipPath#clip0_629_3994
                                        rect(width="58", height="61", fill="white")
                        .card-body
                            .card-titile
                                h4.color-darck.font-sm.font-w-md استغل قوة جوجل
                            .card-text
                                p.color-darck.font-xs.font-w-sm الوصول للعملاء في وقت يبحثون فيه عن المنتج يعتبر واحدة من أنجح الطرق لزيادة المبيعات، وبالتالي تحسين ترتيب موقعك وزيادة زياراتك من قوقل هي استثمار هام جدًا لمتجرك   
                .col-lg-6.col-md-6.pb-4
                    .card.border-0.padding-card.border-r-sm.bg-card
                        .card-img 
                            svg(xmlns="http://www.w3.org/2000/svg", width="58", height="61", viewBox="0 0 58 61", fill="none")
                                g(clip-path="url(#clip0_629_3994)")
                                    path(d="M18.3675 15.3047H39.6169C41.3005 15.3047 42.6656 16.6683 42.6656 18.3501V38.6835H15.334V18.3501C15.334 16.6683 16.699 15.3047 18.3826 15.3047H18.3675Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M15.8349 10.3789H42.1503C42.4536 10.3789 42.7418 10.5607 42.8783 10.8335L47.201 19.4244C47.474 19.9698 47.0797 20.6213 46.473 20.6213H11.5274C10.9207 20.6213 10.5112 19.985 10.7993 19.4244L15.122 10.8335C15.2585 10.5607 15.5467 10.3789 15.8501 10.3789H15.8349Z", fill="#F2B705", stroke="#F2B705", stroke-width="1.5", stroke-miterlimit="10", stroke-linecap="square")
                                    path(d="M53.4506 1.51562H4.55105C2.87571 1.51562 1.51758 2.87234 1.51758 4.54593V44.5156C1.51758 46.1892 2.87571 47.5459 4.55105 47.5459H53.4506C55.126 47.5459 56.4841 46.1892 56.4841 44.5156V4.54593C56.4841 2.87234 55.126 1.51562 53.4506 1.51562Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M29.2285 47.2734V55.9553", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M22.4492 59.4844H36.9492", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M42.4531 33.9844L56.1493 46.3632", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M42.9535 42.4398C47.7366 42.4398 51.6141 38.5663 51.6141 33.7882C51.6141 29.0101 47.7366 25.1367 42.9535 25.1367C38.1704 25.1367 34.293 29.0101 34.293 33.7882C34.293 38.5663 38.1704 42.4398 42.9535 42.4398Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M43.0598 33.3335H47.6858C47.7162 33.4395 47.7313 33.5607 47.7465 33.7122C47.7617 33.8638 47.7768 34.0153 47.7768 34.1668C47.7768 34.7728 47.6858 35.3486 47.5038 35.8789C47.3218 36.4092 47.0336 36.8941 46.6393 37.3183C46.2146 37.7728 45.7141 38.1213 45.1226 38.3638C44.531 38.6062 43.8637 38.7274 43.1053 38.7274C42.4228 38.7274 41.7706 38.6062 41.1639 38.3638C40.5572 38.1213 40.0263 37.7728 39.5865 37.3335C39.1314 36.8941 38.7826 36.3789 38.5096 35.7728C38.2517 35.1668 38.1152 34.5153 38.1152 33.8031C38.1152 33.091 38.2517 32.4395 38.5096 31.8335C38.7674 31.2274 39.1314 30.7122 39.5865 30.2728C40.0415 29.8335 40.5572 29.485 41.1639 29.2425C41.7706 29.0001 42.4228 28.8789 43.1053 28.8789C43.8637 28.8789 44.5614 29.0153 45.1529 29.2728C45.7596 29.5304 46.2753 29.8941 46.7 30.3638L45.4714 31.5607C45.1681 31.2425 44.8192 30.985 44.44 30.8183C44.0608 30.6516 43.6058 30.5607 43.075 30.5607C42.6503 30.5607 42.2408 30.6365 41.8464 30.788C41.4672 30.9395 41.1184 31.1668 40.8302 31.4395C40.542 31.7274 40.3145 32.0607 40.1325 32.4547C39.9657 32.8486 39.8747 33.3031 39.8747 33.788C39.8747 34.2728 39.9657 34.7274 40.1325 35.1213C40.2993 35.5153 40.542 35.8638 40.8302 36.1365C41.1184 36.4244 41.4672 36.6365 41.8464 36.788C42.2256 36.9395 42.6503 37.0153 43.0901 37.0153C43.5907 37.0153 44.0153 36.9395 44.3642 36.8032C44.713 36.6516 45.0012 36.4698 45.2591 36.2425C45.4411 36.091 45.5927 35.8789 45.7141 35.6365C45.8354 35.3941 45.9416 35.1213 46.0174 34.8335H43.0446V33.3183L43.0598 33.3335Z", fill="#4832D9")
                                defs
                                    clipPath#clip0_629_3994
                                        rect(width="58", height="61", fill="white")
                        .card-body
                            .card-titile
                                h4.color-darck.font-sm.font-w-md استغل قوة جوجل
                            .card-text
                                p.color-darck.font-xs.font-w-sm الوصول للعملاء في وقت يبحثون فيه عن المنتج يعتبر واحدة من أنجح الطرق لزيادة المبيعات، وبالتالي تحسين ترتيب موقعك وزيادة زياراتك من قوقل هي استثمار هام جدًا لمتجرك                                                                                                
    section.We-helped-stores-increase-traffic.pt-5
        .container 
            .content 
                .content-title 
                    h2.color-darck.font-md.font-w-lg في المتوسط ساعدنا متاجر على تحقيق زيادة في الزيارات تزيد عن 210%
                .content-icon 
                    .icon
                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="25", viewBox="0 0 24 25", fill="none")
                            path(d="M14.4296 19.3211C14.6196 19.3211 14.8096 19.2511 14.9596 19.1011L21.0296 13.0311C21.3196 12.7411 21.3196 12.2611 21.0296 11.9711L14.9596 5.90109C14.6696 5.61109 14.1896 5.61109 13.8996 5.90109C13.6096 6.19109 13.6096 6.67109 13.8996 6.96109L19.4396 12.5011L13.8996 18.0411C13.6096 18.3311 13.6096 18.8111 13.8996 19.1011C14.0396 19.2511 14.2396 19.3211 14.4296 19.3211Z", fill="#292D32")
                            path(d="M3.50008 13.25H20.3301C20.7401 13.25 21.0801 12.91 21.0801 12.5C21.0801 12.09 20.7401 11.75 20.3301 11.75H3.50008C3.09008 11.75 2.75008 12.09 2.75008 12.5C2.75008 12.91 3.09008 13.25 3.50008 13.25Z", fill="#292D32")
                    .icon 
                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="25", viewBox="0 0 24 25", fill="none")
                            path(d="M9.57043 19.3211C9.38043 19.3211 9.19043 19.2511 9.04043 19.1011L2.97043 13.0311C2.68043 12.7411 2.68043 12.2611 2.97043 11.9711L9.04043 5.90109C9.33043 5.61109 9.81043 5.61109 10.1004 5.90109C10.3904 6.19109 10.3904 6.67109 10.1004 6.96109L4.56043 12.5011L10.1004 18.0411C10.3904 18.3311 10.3904 18.8111 10.1004 19.1011C9.96043 19.2511 9.76043 19.3211 9.57043 19.3211Z", fill="#292D32")
                            path(d="M20.4999 13.25H3.66992C3.25992 13.25 2.91992 12.91 2.91992 12.5C2.91992 12.09 3.25992 11.75 3.66992 11.75H20.4999C20.9099 11.75 21.2499 12.09 21.2499 12.5C21.2499 12.91 20.9099 13.25 20.4999 13.25Z", fill="#292D32") 
            .content-img 
                img(src="../static/Services-Advertisingproductionservice-imags/img-section.svg", alt="")
    include ../components/The-Success stories.pug  
    include ../components/The-Connect with us.pug
    include ../components/The-Footer.pug                                                