extends ../Layouts/default.pug
block content
    include ../components/The-Header.pug
    section.socialMedia-Mnajement.intro
        .container
            .parent-intro 
                .content-element.pb-5
                    .content-title 
                        h1.color-darcjk.font-lg.font-w-lg.line-sm نحول الأفكار إلى محتوى يجذب الانتباه ويحقق مبيعات
                    .content-text
                        p.color-darck.font-xs.font-w-sm  نكتب لك محتوى إبداعي يعزز علامتك التجارية ويجذب العملاء إلى متجرك
                    .content-btn.btn-primary
                        a.color-wight.bg-purple.font-xs.font-w-md اطلب استشارة مجانية
                .content-img 
                    img(src="../static/Social-media-content-management-imags/img-intro 6.16.48 PM.svg", alt="")
    section.methodologies.pt-5
        .container 
            .content-title.pt-4
                h3.color-0darck.font-md.font-w-lg.text-center.pb-5 تعرف على منهجيتنا لتحقيق قوة الكلمة
            .row
                .col-lg-4.col-md-6.d-flex.pb-4 
                    .card.card-style
                        .card-img 
                            svg(xmlns="http://www.w3.org/2000/svg", width="45", height="49", viewBox="0 0 45 49", fill="none")
                                g(clip-path="url(#clip0_653_22320)")
                                    path(d="M24.2217 28.7013C30.2748 28.7013 35.1817 23.7943 35.1817 17.7412C35.1817 11.6882 30.2748 6.78125 24.2217 6.78125C18.1687 6.78125 13.2617 11.6882 13.2617 17.7412C13.2617 23.7943 18.1687 28.7013 24.2217 28.7013Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M21.9714 21.03C21.4514 20.53 21.1114 19.93 20.9414 19.22L22.5614 18.6C22.6414 19.01 22.8014 19.38 23.0514 19.71C23.3014 20.04 23.6314 20.26 24.0414 20.37V17.98L23.7714 17.93C23.2714 17.84 22.8414 17.68 22.4814 17.47C22.1214 17.26 21.8514 16.97 21.6514 16.61C21.4514 16.25 21.3514 15.79 21.3514 15.24C21.3514 14.8 21.4514 14.4 21.6614 14.02C21.8714 13.64 22.1714 13.32 22.5814 13.06C22.9914 12.8 23.4714 12.65 24.0414 12.59V11.5H25.2114V12.6C25.7214 12.68 26.1714 12.83 26.5414 13.06C26.9114 13.29 27.2114 13.56 27.4414 13.89C27.6714 14.22 27.8414 14.57 27.9514 14.94L26.4114 15.56C26.3414 15.35 26.2514 15.15 26.1514 14.96C26.0414 14.78 25.9114 14.62 25.7514 14.49C25.5914 14.36 25.4114 14.26 25.2014 14.19V16.4L25.5314 16.48C26.2714 16.65 26.8714 16.95 27.3314 17.38C27.8014 17.81 28.0314 18.41 28.0314 19.18C28.0314 19.91 27.7914 20.52 27.3114 21.03C26.8314 21.54 26.1314 21.84 25.1914 21.93V23.02H24.0214V21.92C23.1614 21.83 22.4814 21.53 21.9614 21.03H21.9714ZM24.0314 15.46V14.14C23.7214 14.21 23.4914 14.34 23.3414 14.53C23.1914 14.72 23.1214 14.93 23.1214 15.15C23.1214 15.43 23.2014 15.65 23.3514 15.82C23.5014 15.99 23.7314 16.1 24.0314 16.18V15.46ZM25.7914 20.17C25.9414 20.06 26.0614 19.93 26.1414 19.78C26.2214 19.63 26.2614 19.46 26.2614 19.27C26.2614 19.08 26.2214 18.93 26.1314 18.78C26.0414 18.63 25.9314 18.51 25.7714 18.41C25.6114 18.31 25.4314 18.24 25.2114 18.19V20.4C25.4514 20.36 25.6514 20.28 25.8014 20.17H25.7914Z", fill="#4832D9")
                                    path(d="M37.3516 35.7619C41.4616 31.2019 44.0016 25.0219 44.0016 18.2119C44.0016 11.4019 41.4616 5.22188 37.3516 0.671875", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M8.27117 1.03906C4.35117 5.54906 1.95117 11.5891 1.95117 18.2091C1.95117 24.8291 4.35117 30.8691 8.27117 35.3891", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M8.27078 8.57031C6.86078 11.4603 6.05078 14.7303 6.05078 18.2103C6.05078 21.6903 6.86078 24.9603 8.27078 27.8503", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M37.3516 28.5019C38.9616 25.4619 39.8916 21.9619 39.8916 18.2119C39.8916 14.4619 38.9616 10.9619 37.3516 7.92188", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M29.6406 41.4706V33.3506C29.6406 32.2706 30.5206 31.3906 31.6006 31.3906C32.6806 31.3906 33.5606 32.2706 33.5606 33.3506V37.9006L30.3206 41.1306", fill="white")
                                    path(d="M29.6406 41.4706V33.3506C29.6406 32.2706 30.5206 31.3906 31.6006 31.3906C32.6806 31.3906 33.5606 32.2706 33.5606 33.3506V37.9006L30.3206 41.1306", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M30.5811 29.9023H14.8711V47.5923H30.5811V29.9023Z", fill="white", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M14.872 47.5898H30.582V40.7398H14.872V47.5898Z", fill="white", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M16.8308 35.1016H16.8408C17.9233 35.1016 18.8008 34.224 18.8008 33.1416V26.9816C18.8008 25.8991 17.9233 25.0216 16.8408 25.0216H16.8308C15.7483 25.0216 14.8708 25.8991 14.8708 26.9816V33.1416C14.8708 34.224 15.7483 35.1016 16.8308 35.1016Z", fill="white", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M20.7507 35.1016H20.7607C21.8432 35.1016 22.7207 34.224 22.7207 33.1416V26.9816C22.7207 25.8991 21.8432 25.0216 20.7607 25.0216H20.7507C19.6682 25.0216 18.7907 25.8991 18.7907 26.9816V33.1416C18.7907 34.224 19.6682 35.1016 20.7507 35.1016Z", fill="white", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M24.6804 35.1016H24.6904C25.7729 35.1016 26.6504 34.224 26.6504 33.1416V26.9816C26.6504 25.8991 25.7729 25.0216 24.6904 25.0216H24.6804C23.5979 25.0216 22.7204 25.8991 22.7204 26.9816V33.1416C22.7204 34.224 23.5979 35.1016 24.6804 35.1016Z", fill="white", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M28.612 35.1016H28.622C29.7045 35.1016 30.582 34.224 30.582 33.1416V20.7216C30.582 19.6391 29.7045 18.7616 28.622 18.7616H28.612C27.5296 18.7616 26.652 19.6391 26.652 20.7216V33.1416C26.652 34.224 27.5296 35.1016 28.612 35.1016Z", fill="white", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                defs
                                    clipPath#clip0_653_22320
                                        rect(width="44.05", height="48.34", fill="white", transform="translate(0.951172)")
                        .card-body
                            .card-title
                                h4.color-darck.font-w-md.font-sm.pb-1 دراسة محفزات الشراء، ووضع خطة على أساسها
                            .card-text
                                p.color-darck.font-xs.font-w-sm لأن العميل إنسان عنده آمال وتطلعات، فإننا نربط المنتجات والمتجر باحتياجاته ونربط المنتج بأنه الشعور الجيد بتلبية الرغبة الذاتية    
                .col-lg-4.col-md-6.d-flex.pb-4 
                    .card.card-style
                        .card-img
                            svg(xmlns="http://www.w3.org/2000/svg", width="43", height="41", viewBox="0 0 43 41", fill="none")
                                g(clip-path="url(#clip0_629_5205)")
                                    path(d="M39.3323 1H12.9023C11.7978 1 10.9023 1.89543 10.9023 3V32.36C10.9023 33.4646 11.7978 34.36 12.9023 34.36H39.3323C40.4369 34.36 41.3323 33.4646 41.3323 32.36V3C41.3323 1.89543 40.4369 1 39.3323 1Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M35.3716 8.92188H16.8516", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M35.3716 18.0312H16.8516", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M35.3716 26.4414H16.8516", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M1.14258 20.0205L1.14258 37.7305C1.14258 38.835 2.03801 39.7305 3.14258 39.7305H27.9626C29.0671 39.7305 29.9626 38.835 29.9626 37.7305V20.0205C29.9626 18.9159 29.0671 18.0205 27.9626 18.0205H3.14258C2.03801 18.0205 1.14258 18.9159 1.14258 20.0205Z", fill="#F8F8F8", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M1.66211 39.0705L9.86211 30.7505L13.9621 35.3505L19.4421 27.2305L29.0321 39.7305", stroke="#4832D9", stroke-width="2", stroke-linejoin="round")
                                    path(d="M10.7433 27.1506C12.3339 27.1506 13.6233 25.8612 13.6233 24.2706C13.6233 22.68 12.3339 21.3906 10.7433 21.3906C9.1527 21.3906 7.86328 22.68 7.86328 24.2706C7.86328 25.8612 9.1527 27.1506 10.7433 27.1506Z", fill="#F2B705", stroke="#F2B705", stroke-width="2.09", stroke-miterlimit="10")
                                defs
                                    clipPath#clip0_629_5205
                                        rect(width="42.19", height="40.73", fill="white", transform="translate(0.142578)")
                        .card-body
                            .card-title
                                h4.color-darck.font-w-md.font-sm.pb-1 دراسة محفزات الشراء، ووضع خطة على أساسها
                            .card-text
                                p.color-darck.font-xs.font-w-sm لأن العميل إنسان عنده آمال وتطلعات، فإننا نربط المنتجات والمتجر باحتياجاته ونربط المنتج بأنه الشعور الجيد بتلبية الرغبة الذاتية   
                .col-lg-4.col-md-6.d-flex.pb-4 
                    .card.card-style
                        .card-img 
                            svg(xmlns="http://www.w3.org/2000/svg", width="38", height="41", viewBox="0 0 38 41", fill="none")
                                path(d="M34.1766 1H3.22656C2.12199 1 1.22656 1.89543 1.22656 3V37.33C1.22656 38.4346 2.12199 39.33 3.22656 39.33H34.1766C35.2811 39.33 36.1766 38.4346 36.1766 37.33V3C36.1766 1.89543 35.2811 1 34.1766 1Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M29.3364 10.1016H8.06641", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M29.3364 20.5625H8.06641", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                path(d="M29.3364 30.2227H8.06641", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                        .card-body
                            .card-title
                                h4.color-darck.font-w-md.font-sm.pb-1 دراسة محفزات الشراء، ووضع خطة على أساسها
                            .card-text
                                p.color-darck.font-xs.font-w-sm لأن العميل إنسان عنده آمال وتطلعات، فإننا نربط المنتجات والمتجر باحتياجاته ونربط المنتج بأنه الشعور الجيد بتلبية الرغبة الذاتية 
    section.We-help-you-in-managing-accounts.pt-5
        .container 
            .parent-content-element 
                .content-element 
                    .content-title.pb-1
                        h3.color-darck.font-md.font-w-lg كيف نفيدك في إدارة حسابات التواصل؟
                    .content-text.pb-2 
                        p.color-darck.font-xs.font-w-sm.lin-md حدد مجموعة التصاميم المطلوبة والهدف من كل واحد من التصاميم، بعدها تحصل على أكثر من تصور وبمجرد اعتماده يبدأ التنفيذ.                               
                    .parent-deescription 
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm فريق كامل مختصين في كتابة المحتوى والتصاميم
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm فريق كامل مختصين في كتابة المحتوى والتصاميم
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm فريق كامل مختصين في كتابة المحتوى والتصاميم
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm فريق كامل مختصين في كتابة المحتوى والتصاميم
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm فريق كامل مختصين في كتابة المحتوى والتصاميم
                        .description 
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none")
                                    path(d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z", fill="#4832D9")
                            .content-text 
                                p.color-darck.font-w-smole.font-sm فريق كامل مختصين في كتابة المحتوى والتصاميم 
                .content-img 
                    img(src="../static/Socialmedia-Management-images/img-section.svg", alt="")                
    section.We-help-with-brand-strength.pt-5 
        .container 
            .content-title.pt-5
                h3.color-darck.font-w-lg.font-bold.text-center.pb-5 كيف نساعد في قوة البراند عبر السوشال ميديا؟
            .row.pt-3
                .col-lg-6.d-flex.pb-4 
                    .card.card-style
                        .content-icon
                            svg(xmlns="http://www.w3.org/2000/svg", width="58", height="56", viewBox="0 0 58 56", fill="none" )
                                g(clip-path="url(#clip0_629_4622)")
                                    path(d="M54.0898 38.6467C55.7293 35.1199 56.6566 31.2042 56.6566 27.0605C56.6566 23.2655 55.8771 19.6448 54.493 16.3594", fill="white")
                                    path(d="M54.0898 38.6467C55.7293 35.1199 56.6566 31.2042 56.6566 27.0605C56.6566 23.2655 55.8771 19.6448 54.493 16.3594", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M43.3522 5.36283C39.1594 2.81494 34.2679 1.33984 29 1.33984C25.0357 1.33984 21.2864 2.17126 17.873 3.67318", fill="white")
                                    path(d="M43.3522 5.36283C39.1594 2.81494 34.2679 1.33984 29 1.33984C25.0357 1.33984 21.2864 2.17126 17.873 3.67318", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M3.50733 16.3438C2.10974 19.6426 1.34375 23.2499 1.34375 27.0449C1.34375 31.1886 2.271 35.1043 3.91048 38.6311", fill="white")
                                    path(d="M3.50733 16.3438C2.10974 19.6426 1.34375 23.2499 1.34375 27.0449C1.34375 31.1886 2.271 35.1043 3.91048 38.6311", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M17.873 52.3247C21.273 53.8132 25.0357 54.658 29 54.658C33.6094 54.658 37.95 53.5315 41.7665 51.5469", fill="white")
                                    path(d="M17.873 52.3247C21.273 53.8132 25.0357 54.658 29 54.658C33.6094 54.658 37.95 53.5315 41.7665 51.5469", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M27.9395 25.9883L47.0488 43.2603", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M27.9386 36.5823C33.8018 36.5823 38.5549 31.8392 38.5549 25.9884C38.5549 20.1376 33.8018 15.3945 27.9386 15.3945C22.0754 15.3945 17.3223 20.1376 17.3223 25.9884C17.3223 31.8392 22.0754 36.5823 27.9386 36.5823Z", fill="#F2B705", stroke="#F2B705", stroke-width="1.91", stroke-miterlimit="10")
                                defs
                                    clipPath#clip0_629_4622
                                        rect(width="58", height="56", fill="white")
                        .card-body
                            .cartd-title
                                h4.color-darck.font-w-lg.font-sm البحث الموسع
                            .card-text
                                p.color-darck.font-xs.font-w-sm.line-lg كل الأشياء العظيمة تبدأ من عميلة البحث الجيد، لذلك قبل كتابة أي حرف أو وضع أي خطط، ندرس البراند بكل تفاصيله، وندرس حالة المنافسة، ونقف على نقاط القوة والضعف والفرص المتاحة لتعزيز العلامة التجارية
                .col-lg-6.d-flex.pb-4
                    .card.card-style
                        .content-icon
                            svg(xmlns="http://www.w3.org/2000/svg", width="58", height="58", viewBox="0 0 58 58", fill="none")
                                g(clip-path="url(#clip0_629_4650)")
                                    path(d="M20.9018 38.4715C22.7988 38.4715 24.3367 36.9336 24.3367 35.0365C24.3367 33.1394 22.7988 31.6016 20.9018 31.6016C19.0047 31.6016 17.4668 33.1394 17.4668 35.0365C17.4668 36.9336 19.0047 38.4715 20.9018 38.4715Z", fill="white", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M35.977 22.9891C37.3611 22.9891 38.4832 21.867 38.4832 20.4828C38.4832 19.0986 37.3611 17.9766 35.977 17.9766C34.5928 17.9766 33.4707 19.0986 33.4707 20.4828C33.4707 21.867 34.5928 22.9891 35.977 22.9891Z", fill="white", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M39.9854 32.4531L34.8457 37.6056", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M34.8457 32.4531L39.9854 37.6056", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M26.4863 35.3945H33.1273", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M25.3418 31.107L32.5425 23.9062", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M40.5826 12.4805H16.8686C15.4634 12.4805 14.3242 13.6196 14.3242 15.0249V40.6217C14.3242 42.027 15.4634 43.1661 16.8686 43.1661H40.5826C41.9879 43.1661 43.127 42.027 43.127 40.6217V15.0249C43.127 13.6196 41.9879 12.4805 40.5826 12.4805Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M24.9988 10.3555H32.4794C33.1791 10.3555 33.7516 10.928 33.7516 11.6277V14.6301H23.7266V11.6277C23.7266 10.928 24.2991 10.3555 24.9988 10.3555Z", fill="white", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M56.728 28.9961C56.728 44.3135 45.5835 56.7175 29.0066 56.7175C21.4624 56.7175 14.6306 53.7024 9.63086 48.8298", stroke="#4832D9", stroke-width="2", stroke-linejoin="round")
                                    path(d="M2.02209 35.4322C1.52593 33.3713 1.27148 31.2085 1.27148 28.9949C1.27148 13.6902 13.6882 1.27344 28.9929 1.27344C38.28 1.27344 46.4985 5.84067 51.5237 12.8505", stroke="#4832D9", stroke-width="2", stroke-linejoin="round")
                                    path(d="M53.635 6.89844L52.6808 14.15L45.6582 12.1527L53.635 6.89844Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M8.62431 53.9561L7.09766 46.4755L14.7055 46.043L8.62431 53.9561Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                defs
                                    clipPath#clip0_629_4650
                                        rect(width="58", height="58", fill="white")
                        .card-body
                            .card-title
                                h4.color-darck.font-w-lg.font-sm البحث الموسع
                            .card-text
                                p.color-darck.font-xs.font-w-sm.line-lg كل الأشياء العظيمة تبدأ من عميلة البحث الجيد، لذلك قبل كتابة أي حرف أو وضع أي خطط، ندرس البراند بكل تفاصيله، وندرس حالة المنافسة، ونقف على نقاط القوة والضعف والفرص المتاحة لتعزيز العلامة التجارية
                .col-lg-6.d-flex.pb-4
                    .card.card-style
                        .content-icon
                            svg(xmlns="http://www.w3.org/2000/svg", width="57", height="51", viewBox="0 0 57 51", fill="none")
                                g(clip-path="url(#clip0_629_4635)")
                                    path(d="M1.25586 13.598L1.25586 47.2171C1.25586 48.6181 2.39207 49.7539 3.79366 49.7539H45.19C46.5915 49.7539 47.7278 48.6181 47.7278 47.2171V13.598C47.7278 12.197 46.5915 11.0612 45.19 11.0612H3.79366C2.39207 11.0612 1.25586 12.197 1.25586 13.598Z", fill="white", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M24.4996 29.6975C28.0106 29.6975 30.8567 26.8524 30.8567 23.3429C30.8567 19.8333 28.0106 16.9883 24.4996 16.9883C20.9887 16.9883 18.1426 19.8333 18.1426 23.3429C18.1426 26.8524 20.9887 29.6975 24.4996 29.6975Z", fill="white", stroke="#4832D9", stroke-width="2.2", stroke-miterlimit="10")
                                    path(d="M24.4988 33.0742C30.0518 33.0742 34.5495 37.5827 34.5495 43.121V43.7992H14.4355V43.121C14.4355 37.5702 18.9458 33.0742 24.4862 33.0742H24.4988Z", fill="white", stroke="#4832D9", stroke-width="2.2", stroke-miterlimit="10")
                                    path(d="M55.7442 11.0558C55.7442 5.64236 51.3541 1.25391 45.9385 1.25391C40.523 1.25391 36.1328 5.64236 36.1328 11.0558C36.1328 16.4692 40.523 20.8577 45.9385 20.8577C51.3541 20.8577 55.7442 16.4692 55.7442 11.0558Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M40.1032 13.346C39.6384 13.0069 39.3494 12.5674 39.2363 12.0273L40.5304 11.5878C40.6183 11.8892 40.7565 12.1404 40.9701 12.3413C41.1711 12.5422 41.4349 12.6427 41.7616 12.6427C41.9751 12.6427 42.1762 12.5925 42.3395 12.5046C42.5154 12.4166 42.641 12.2911 42.7415 12.1152C42.842 11.9394 42.8797 11.7385 42.8797 11.4999C42.8797 11.2738 42.8295 11.0729 42.7415 10.8971C42.6536 10.7213 42.5154 10.5831 42.3395 10.4952C42.1636 10.3947 41.9751 10.3571 41.7616 10.3571C41.5354 10.3571 41.3218 10.4073 41.146 10.5203C40.9701 10.6208 40.8319 10.7715 40.7314 10.9599L39.3745 10.671L39.9524 6.82812H44.0984V8.07141H40.9575L40.7816 9.25191C40.7565 9.3775 40.7439 9.46541 40.7314 9.5282C40.7314 9.59099 40.7062 9.6789 40.6811 9.80449C40.8444 9.66634 41.0329 9.55332 41.259 9.47797C41.4726 9.39006 41.7616 9.35238 42.1008 9.35238C42.5154 9.35238 42.8923 9.44029 43.2315 9.60355C43.5707 9.76681 43.8345 10.018 44.0355 10.3571C44.2365 10.6836 44.3371 11.0855 44.3371 11.5501C44.3371 12.0148 44.2365 12.4166 44.0355 12.7683C43.8345 13.1199 43.5456 13.3962 43.1687 13.5846C42.7918 13.773 42.3395 13.8734 41.8118 13.8734C41.1208 13.8734 40.5429 13.7102 40.0906 13.3711L40.1032 13.346Z", fill="#4832D9")
                                    path(d="M45.5801 6.80469H48.0299L49.1606 10.1578C49.2988 10.5597 49.4119 10.8736 49.4873 11.0997C49.5752 11.3257 49.638 11.5016 49.6757 11.6271C49.726 11.5016 49.7888 11.3257 49.8768 11.0997C49.9647 10.8736 50.0652 10.5597 50.2034 10.1578L51.3592 6.80469H53.7211V13.6993H52.2261V8.07309L50.3039 13.6993H48.9722L47.0751 8.08565V13.6993H45.5801V6.80469Z", fill="#4832D9")
                                defs
                                    clipPath#clip0_629_4635
                                        rect(width="57", height="51", fill="white")
                        .card-body
                            .card-title
                                h4.color-darck.font-w-lg.font-sm البحث الموسع
                            .card-text
                                p.color-darck.font-xs.font-w-sm.line-lg كل الأشياء العظيمة تبدأ من عميلة البحث الجيد، لذلك قبل كتابة أي حرف أو وضع أي خطط، ندرس البراند بكل تفاصيله، وندرس حالة المنافسة، ونقف على نقاط القوة والضعف والفرص المتاحة لتعزيز العلامة التجارية.
                .col-lg-6.d-flex.pb-4 
                    .card.card-style
                        .content-icon
                            svg(xmlns="http://www.w3.org/2000/svg", width="59", height="50", viewBox="0 0 59 50", fill="none")
                                g(clip-path="url(#clip0_629_4672)")
                                    path(d="M43.5148 1.24219H3.70403C2.34008 1.24219 1.23438 2.35425 1.23438 3.72604V36.4881C1.23438 37.8599 2.34008 38.9719 3.70403 38.9719H43.5148C44.8788 38.9719 45.9845 37.8599 45.9845 36.4881V3.72604C45.9845 2.35425 44.8788 1.24219 43.5148 1.24219Z", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M23.6094 38.9727V45.3686", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M17.707 48.7578H29.512", stroke="#4832D9", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M23.9546 21.5458C26.5734 21.5458 28.6964 19.4107 28.6964 16.7768C28.6964 14.143 26.5734 12.0078 23.9546 12.0078C21.3358 12.0078 19.2129 14.143 19.2129 16.7768C19.2129 19.4107 21.3358 21.5458 23.9546 21.5458Z", fill="white", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M23.955 24.0898C28.104 24.0898 31.4628 27.4679 31.4628 31.6408V32.15H16.4473V31.6408C16.4473 27.4679 19.806 24.0898 23.955 24.0898Z", fill="white", stroke="#4832D9", stroke-width="1.5", stroke-miterlimit="10")
                                    path(d="M33.9688 37.0214L40.1058 30.3274L44.4154 34.6866L53.6148 23.4844", stroke="#F2B705", stroke-width="2", stroke-miterlimit="10")
                                    path(d="M50.0215 19.7822L57.7638 19.2109L57.2082 26.9978L50.0215 19.7822Z", fill="#F2B705", stroke="#F2B705", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                defs
                                    clipPath#clip0_629_4672
                                        rect(width="59", height="50", fill="white")
                                </svg>
                        .card-body
                            .card-title
                                h4.color-darck.font-w-lg.font-sm البحث الموسع
                            .card-text
                                p.color-darck.font-xs.font-w-sm.line-lg كل الأشياء العظيمة تبدأ من عميلة البحث الجيد، لذلك قبل كتابة أي حرف أو وضع أي خطط، ندرس البراند بكل تفاصيله، وندرس حالة المنافسة، ونقف على نقاط القوة والضعف والفرص المتاحة لتعزيز العلامة التجارية.   
    include ../components/The-Success stories.pug  
    include ../components/The-Connect with us.pug
    include ../components/The-Footer.pug                       
