extends ../Layouts/default.pug
block content
    include ../components/The-Header.pug
    section.Store-success-stories
        .container
            .content-title 
                h1.color-darck.font-lg.font-w-lg.line-md.text-center قصص نجاح المتاجر
    section.store-departments
        .container 
            .sections 
                p.active.color-purple.font-xs.font-w-smole الكل
                p.color-darck.font-xs.font-w-smole الإعلانات
                p.color-darck.font-xs.font-w-smole االسيو
                p.color-darck.font-xs.font-w-smole التصاميم
                p.color-darck.font-xs.font-w-smole الفيديوهات الإعلانية
            .parent-cards
                .thecadr 
                    .thecard-img.pb-3
                        img(src="../static/Home-images/Success-stories-card-tow.svg", alt="alt" title="img")
                    .thecard-content 
                        .thecard-title
                            h5.color-darck.font-sm.font-w-md متجر فهد القنون
                        .thcard-text 
                            p.color.darck.font-xs.font-w-sm التوصل إلى المزيج التسويقي الصحيح، سواء منصات التسويق، أو الأنشطة التسويقية وتخصيص الميزانية لتحقيق الهدف البيعي قريب المدى، وخطة النمو بعيدة المدى.
                .thecadr 
                    .thecard-img.pb-3
                        img(src="../static/Home-images/Success-stories-card-img.svg", alt="alt" title="img")
                    .thecard-content 
                        .thecard-title
                            h5.color-darck.font-sm.font-w-md متجر العسل البري
                        .thcard-text 
                            p.color.darck.font-xs.font-w-sm التوصل إلى المزيج التسويقي الصحيح، سواء منصات التسويق، أو الأنشطة التسويقية وتخصيص الميزانية لتحقيق الهدف البيعي قريب المدى، وخطة النمو بعيدة المدى.
                .thecadr 
                    .thecard-img.pb-3
                        img(src="../static/Home-images/Success-stories-card-three.svg", alt="alt" title="img")
                    .thecard-content 
                        .thecard-title
                            h5.color-darck.font-sm.font-w-md متجر فهد القنون
                        .thcard-text 
                            p.color.darck.font-xs.font-w-sm التوصل إلى المزيج التسويقي الصحيح، سواء منصات التسويق، أو الأنشطة التسويقية وتخصيص الميزانية لتحقيق الهدف البيعي قريب المدى، وخطة النمو بعيدة المدى.
            .parent-cards
                .thecadr 
                    .thecard-img.pb-3
                        img(src="../static/Home-images/Success-stories-card-tow.svg", alt="alt" title="img")
                    .thecard-content 
                        .thecard-title
                            h5.color-darck.font-sm.font-w-md متجر فهد القنون
                        .thcard-text 
                            p.color.darck.font-xs.font-w-sm التوصل إلى المزيج التسويقي الصحيح، سواء منصات التسويق، أو الأنشطة التسويقية وتخصيص الميزانية لتحقيق الهدف البيعي قريب المدى، وخطة النمو بعيدة المدى.
                .thecadr 
                    .thecard-img.pb-3
                        img(src="../static/Home-images/Success-stories-card-img.svg", alt="alt" title="img")
                    .thecard-content 
                        .thecard-title
                            h5.color-darck.font-sm.font-w-md متجر العسل البري
                        .thcard-text 
                            p.color.darck.font-xs.font-w-sm التوصل إلى المزيج التسويقي الصحيح، سواء منصات التسويق، أو الأنشطة التسويقية وتخصيص الميزانية لتحقيق الهدف البيعي قريب المدى، وخطة النمو بعيدة المدى.
                .thecadr 
                    .thecard-img.pb-3
                        img(src="../static/Home-images/Success-stories-card-three.svg", alt="alt" title="img")
                    .thecard-content 
                        .thecard-title
                            h5.color-darck.font-sm.font-w-md متجر فهد القنون
                        .thcard-text 
                            p.color.darck.font-xs.font-w-sm التوصل إلى المزيج التسويقي الصحيح، سواء منصات التسويق، أو الأنشطة التسويقية وتخصيص الميزانية لتحقيق الهدف البيعي قريب المدى، وخطة النمو بعيدة المدى.    
            .parent-cards
                .thecadr 
                    .thecard-img.pb-3
                        img(src="../static/Home-images/Success-stories-card-tow.svg", alt="alt" title="img")
                    .thecard-content 
                        .thecard-title
                            h5.color-darck.font-sm.font-w-md متجر فهد القنون
                        .thcard-text 
                            p.color.darck.font-xs.font-w-sm التوصل إلى المزيج التسويقي الصحيح، سواء منصات التسويق، أو الأنشطة التسويقية وتخصيص الميزانية لتحقيق الهدف البيعي قريب المدى، وخطة النمو بعيدة المدى.
                .thecadr 
                    .thecard-img.pb-3
                        img(src="../static/Home-images/Success-stories-card-img.svg", alt="alt" title="img")
                    .thecard-content 
                        .thecard-title
                            h5.color-darck.font-sm.font-w-md متجر العسل البري
                        .thcard-text 
                            p.color.darck.font-xs.font-w-sm التوصل إلى المزيج التسويقي الصحيح، سواء منصات التسويق، أو الأنشطة التسويقية وتخصيص الميزانية لتحقيق الهدف البيعي قريب المدى، وخطة النمو بعيدة المدى.
                .thecadr 
                    .thecard-img.pb-3
                        img(src="../static/Home-images/Success-stories-card-three.svg", alt="alt" title="img")
                    .thecard-content 
                        .thecard-title
                            h5.color-darck.font-sm.font-w-md متجر فهد القنون
                        .thcard-text 
                            p.color.darck.font-xs.font-w-sm التوصل إلى المزيج التسويقي الصحيح، سواء منصات التسويق، أو الأنشطة التسويقية وتخصيص الميزانية لتحقيق الهدف البيعي قريب المدى، وخطة النمو بعيدة المدى.                                    
            .btn
                a.color-wight.font-xs.font-w-md.bg-purple المزيد من قصص النجاح                                      
    include ../components/The-Footer.pug