section.media_campaigns 
        .container 
            .content-elment
                .element-title 
                    h3.color-darck.font-md.font-w-lg.text-center أكثر من مجرد حملة إعلانية
            .row
                .col-lg-6.pb-5
                    .content-elment.shdow
                        .elelment-title.pb-1
                            h5.color-darck.font-sm.font-w-md استخدام المنصات الإعلانية المناسبة والأعلى ربحية
                        .element-text 
                            p.color-darck.font-xs.font-w-sm وعبر 3 سنوات، استفادت عشرات المتاجر في تحقيق نمو وصل في بعضها إلى أكثر من 500%، بمبيعات مليونية.
                    .content-elment
                        .elelment-title 
                            h5.color-darck.font-sm.font-w-md استخدام المنصات الإعلانية المناسبة والأعلى ربحية
                        .element-text 
                            p.color-darck.font-xs.font-w-sm وعبر 3 سنوات، استفادت عشرات المتاجر في تحقيق نمو وصل في بعضها إلى أكثر من 500%، بمبيعات مليونية.
                    .content-elment
                        .elelment-title 
                            h5.color-darck.font-sm.font-w-md استخدام المنصات الإعلانية المناسبة والأعلى ربحية
                        .element-text 
                            p.color-darck.font-xs.font-w-sm.pb-5 وعبر 3 سنوات، استفادت عشرات المتاجر في تحقيق نمو وصل في بعضها إلى أكثر من 500%، بمبيعات مليونية.
                .col-lg-6.pb-5
                    .content-img 
                        img(src="../static/Ad-mnagement-imgs/img-media_campaigns .svg", alt="" class="width-md")