section.Campaign-management-team
    .container 
        .content-element
            .elelment-title
                h3.color-darck.font-md.font-w-lg.text-center مهما كانت المنصة، فريقنا جاهز لإدارة حملتك
        .row
            .col-lg-4.pb-4
                    .card.padding-card.bg-wight.border-r-sm.border-0
                        .card-img.text-center.pb-3
                           img(src="../static/Ad-mnagement-imgs/icon-google.svg", alt="")
                        .card-text
                            p.color-darck.font-xs.font-w-md.text-center  سواءً كان في إنستقرام، أو منصة فيسبوك نفسها يدير فريقنا حملتك الإعلانية بكفاءة 
            .col-lg-4.pb-4        
                    .card.padding-card.bg-wight.border-r-sm.border-0
                        .card-img.text-center.pb-3
                           svg(xmlns="http://www.w3.org/2000/svg", width="64", height="64", viewBox="0 0 64 64", fill="none")
                                path(d="M0 21.4667C0 13.8735 0 10.0769 1.50115 7.18701C2.76616 4.75177 4.75177 2.76616 7.18701 1.50115C10.0769 0 13.8735 0 21.4667 0H42.5333C50.1265 0 53.9231 0 56.813 1.50115C59.2482 2.76616 61.2338 4.75177 62.4988 7.18701C64 10.0769 64 13.8735 64 21.4667V42.5333C64 50.1265 64 53.9231 62.4988 56.813C61.2338 59.2482 59.2482 61.2338 56.813 62.4988C53.9231 64 50.1265 64 42.5333 64H21.4667C13.8735 64 10.0769 64 7.18701 62.4988C4.75177 61.2338 2.76616 59.2482 1.50115 56.813C0 53.9231 0 50.1265 0 42.5333V21.4667Z", fill="#FF0000")
                                path(fill-rule="evenodd", clip-rule="evenodd", d="M50.7807 15.696C52.8367 16.2495 54.4578 17.8706 55.0113 19.9266C56.0393 23.6828 55.9998 31.5114 55.9998 31.5114C55.9998 31.5114 55.9998 39.3005 55.0113 43.0566C54.4578 45.1127 52.8367 46.7337 50.7807 47.2873C47.0245 48.2757 31.9999 48.2757 31.9999 48.2757C31.9999 48.2757 17.0148 48.2757 13.2191 47.2477C11.1631 46.6942 9.542 45.0731 8.98846 43.0171C8 39.3005 8 31.4719 8 31.4719C8 31.4719 8 23.6828 8.98846 19.9266C9.542 17.8706 11.2026 16.21 13.2191 15.6564C16.9752 14.668 31.9999 14.668 31.9999 14.668C31.9999 14.668 47.0245 14.668 50.7807 15.696ZM39.7099 31.1973L27.2157 38.3933V24.0013L39.7099 31.1973Z", fill="white")
                        .card-text
                            p.color-darck.font-xs.font-w-md.text-center  سواءً كان في إنستقرام، أو منصة فيسبوك نفسها يدير فريقنا حملتك الإعلانية بكفا 
            .col-lg-4.pb-4        
                    .card.padding-card.bg-wight.border-r-sm.border-0
                        .card-img.text-center.pb-3.mm-auto
                            svg(xmlns="http://www.w3.org/2000/svg", width="64", height="64", viewBox="0 0 64 64", fill="none")
                                path(d="M0 21.4667C0 13.8735 0 10.0769 1.50115 7.18701C2.76616 4.75177 4.75177 2.76616 7.18701 1.50115C10.0769 0 13.8735 0 21.4667 0H42.5333C50.1265 0 53.9231 0 56.813 1.50115C59.2482 2.76616 61.2338 4.75177 62.4988 7.18701C64 10.0769 64 13.8735 64 21.4667V42.5333C64 50.1265 64 53.9231 62.4988 56.813C61.2338 59.2482 59.2482 61.2338 56.813 62.4988C53.9231 64 50.1265 64 42.5333 64H21.4667C13.8735 64 10.0769 64 7.18701 62.4988C4.75177 61.2338 2.76616 59.2482 1.50115 56.813C0 53.9231 0 50.1265 0 42.5333V21.4667Z", fill="url(#paint0_linear_606_7840)")
                                path(d="M44.4448 40.8859L45.867 31.997H37.3337V25.7747C37.3337 23.2859 38.2226 21.3303 42.1337 21.3303H46.2225V13.1525C43.9114 12.797 41.4226 12.4414 39.1114 12.4414C31.8225 12.4414 26.667 16.8859 26.667 24.8859V31.997H18.667V40.8859H26.667V63.997C30.2225 63.997 33.7781 63.997 37.3337 63.997V40.8859H44.4448Z", fill="white")
                                defs
                                    linearGradient#paint0_linear_606_7840(x1="32", y1="62.1301", x2="32", y2="0", gradientUnits="userSpaceOnUse")
                                        stop(stop-color="#0062E0")
                                        stop(offset="1", stop-color="#19AFFF")
                        .card-text
                            p.color-darck.font-xs.font-w-md.text-center  سواءً كان في إنستقرام، أو منصة فيسبوك نفسها يدير فريقنا حملتك الإعلانية بكفاءة 
            .col-lg-4.pb-4
                    .card.padding-card.bg-wight.border-r-sm.border-0
                        .card-img.text-center.pb-3
                           img(src="../static/Ad-mnagement-imgs/icon-google.svg", alt="")
                        .element-text
                            p.color-darck.font-xs.font-w-md.text-center  سواءً كان في إنستقرام، أو منصة فيسبوك نفسها يدير فريقنا حملتك الإعلانية بكفاءة 
            .col-lg-4.pb-4        
                    .card.padding-card.bg-wight.border-r-sm.border-0
                        .card-img.text-center.pb-3
                           svg(xmlns="http://www.w3.org/2000/svg", width="64", height="64", viewBox="0 0 64 64", fill="none")
                                path(d="M0 21.4667C0 13.8735 0 10.0769 1.50115 7.18701C2.76616 4.75177 4.75177 2.76616 7.18701 1.50115C10.0769 0 13.8735 0 21.4667 0H42.5333C50.1265 0 53.9231 0 56.813 1.50115C59.2482 2.76616 61.2338 4.75177 62.4988 7.18701C64 10.0769 64 13.8735 64 21.4667V42.5333C64 50.1265 64 53.9231 62.4988 56.813C61.2338 59.2482 59.2482 61.2338 56.813 62.4988C53.9231 64 50.1265 64 42.5333 64H21.4667C13.8735 64 10.0769 64 7.18701 62.4988C4.75177 61.2338 2.76616 59.2482 1.50115 56.813C0 53.9231 0 50.1265 0 42.5333V21.4667Z", fill="#FF0000")
                                path(fill-rule="evenodd", clip-rule="evenodd", d="M50.7807 15.696C52.8367 16.2495 54.4578 17.8706 55.0113 19.9266C56.0393 23.6828 55.9998 31.5114 55.9998 31.5114C55.9998 31.5114 55.9998 39.3005 55.0113 43.0566C54.4578 45.1127 52.8367 46.7337 50.7807 47.2873C47.0245 48.2757 31.9999 48.2757 31.9999 48.2757C31.9999 48.2757 17.0148 48.2757 13.2191 47.2477C11.1631 46.6942 9.542 45.0731 8.98846 43.0171C8 39.3005 8 31.4719 8 31.4719C8 31.4719 8 23.6828 8.98846 19.9266C9.542 17.8706 11.2026 16.21 13.2191 15.6564C16.9752 14.668 31.9999 14.668 31.9999 14.668C31.9999 14.668 47.0245 14.668 50.7807 15.696ZM39.7099 31.1973L27.2157 38.3933V24.0013L39.7099 31.1973Z", fill="white")
                        .card-text
                            p.color-darck.font-xs.font-w-md.text-center  سواءً كان في إنستقرام، أو منصة فيسبوك نفسها يدير فريقنا حملتك الإعلانية بكفا 
            .col-lg-4.pb-4        
                    .card.padding-card.bg-wight.border-r-sm.border-0
                        .card-img.text-center.pb-3
                            svg(xmlns="http://www.w3.org/2000/svg", width="64", height="64", viewBox="0 0 64 64", fill="none")
                                path(d="M0 21.4667C0 13.8735 0 10.0769 1.50115 7.18701C2.76616 4.75177 4.75177 2.76616 7.18701 1.50115C10.0769 0 13.8735 0 21.4667 0H42.5333C50.1265 0 53.9231 0 56.813 1.50115C59.2482 2.76616 61.2338 4.75177 62.4988 7.18701C64 10.0769 64 13.8735 64 21.4667V42.5333C64 50.1265 64 53.9231 62.4988 56.813C61.2338 59.2482 59.2482 61.2338 56.813 62.4988C53.9231 64 50.1265 64 42.5333 64H21.4667C13.8735 64 10.0769 64 7.18701 62.4988C4.75177 61.2338 2.76616 59.2482 1.50115 56.813C0 53.9231 0 50.1265 0 42.5333V21.4667Z", fill="url(#paint0_linear_606_7840)")
                                path(d="M44.4448 40.8859L45.867 31.997H37.3337V25.7747C37.3337 23.2859 38.2226 21.3303 42.1337 21.3303H46.2225V13.1525C43.9114 12.797 41.4226 12.4414 39.1114 12.4414C31.8225 12.4414 26.667 16.8859 26.667 24.8859V31.997H18.667V40.8859H26.667V63.997C30.2225 63.997 33.7781 63.997 37.3337 63.997V40.8859H44.4448Z", fill="white")
                                defs
                                    linearGradient#paint0_linear_606_7840(x1="32", y1="62.1301", x2="32", y2="0", gradientUnits="userSpaceOnUse")
                                        stop(stop-color="#0062E0")
                                        stop(offset="1", stop-color="#19AFFF")
                        .card-text
                            p.color-darck.font-xs.font-w-md.text-center  سواءً كان في إنستقرام، أو منصة فيسبوك نفسها يدير فريقنا حملتك الإعلانية بكفاءة                 