section.intagred-service
    .container
        .content 
            .content-text 
                p.color-purple.font-w-sm.font-normal خدمة متكاملة 
            .content-title 
                h3.color-darck.font-w-lg.pb-3.font-md كل احتياجاتك التسويقية في مكان واحد!
            .the-button-Integrated-service.btn-outline
                a.font-xs.font-w-sm.btn كل احتياجاتك التسويقية في مكان واحد!  
        .row 
            .col-lg-6.position.d-flex.pb-4.position-relative
                .theCrad.bg-purple
                    .content-card 
                        .content-title
                            h3.font-sm.font-w-lg.color-wight إدارة الحملات الإعلانية
                        .content-text 
                            p.font-w-sm.color-wight إدارة جميع الحملات الإعلانية على جميع المنصات الإعلانية، بعد دراسة المتجر والمنتجات والمنافسين، بما يحقق ربحية المتجر، تعتمد إدارة الحملات على التكامل بين المنصات بما يحقق الهدف البيعي.
                        .content-link.d-flex.gap-2
                            p.font-16.font-w-sm.color-wight اعرف تفاصيل الخدمة
                            svg(xmlns="http://www.w3.org/2000/svg", width="27", height="24", viewBox="0 0 27 24", fill="none")
                                path(d="M21.5146 12H6.15465", stroke="white", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M13.834 5L6.15398 12L13.834 19", stroke="white", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                    .content-img 
                        img(src="../static/Home-images/first-img-instagred.svg", alt="")
            .col-lg-6.d-flex.pb-4.position-relative
                .theCrad.bg-gray
                    .content-card 
                        .content-title
                            h3.font-sm.font-w-lg.color-darck إدارة الحملات الإعلانية
                        .content-text 
                            p.font-xs.font-w-sm.color-darck إدارة جميع الحملات الإعلانية على جميع المنصات الإعلانية، بعد دراسة المتجر والمنتجات والمنافسين، بما يحقق ربحية المتجر، تعتمد إدارة الحملات على التكامل بين المنصات بما يحقق الهدف البيعي.
                        .content-link.d-flex.gap-2
                            p.font-16.font-w-sm.color-darck اعرف تفاصيل الخدمة
                            svg(xmlns="http://www.w3.org/2000/svg", width="27", height="24", viewBox="0 0 27 24", fill="none")
                                path(d="M21.5146 12H6.15465", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M13.834 5L6.15398 12L13.834 19", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                    .content-img 
                        img(src="../static/Home-images/first-img-instagred.svg", alt="")
            .col-lg-6.position.d-flex.pb-4.position-relative
                .theCrad.bg-gray
                    .content-card 
                        .content-title
                            h3.font-sm.font-w-lg.color-darck إدارة الحملات الإعلانية
                        .content-text 
                            p.font-w-sm.color-darck إدارة جميع الحملات الإعلانية على جميع المنصات الإعلانية، بعد دراسة المتجر والمنتجات والمنافسين، بما يحقق ربحية المتجر، تعتمد إدارة الحملات على التكامل بين المنصات بما يحقق الهدف البيعي.
                        .content-link.d-flex.gap-2 
                            p.font-16.font-w-sm.color-darck اعرف تفاصيل الخدمة
                            svg(xmlns="http://www.w3.org/2000/svg", width="27", height="24", viewBox="0 0 27 24", fill="none")
                                path(d="M21.5146 12H6.15465", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M13.834 5L6.15398 12L13.834 19", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                    .content-img 
                        img(src="../static/Home-images/first-img-instagred.svg", alt="")
            .col-lg-6.d-flex.pb-4.position-relative 
                .theCrad.bg-yellow
                    .content-card 
                        .content-title
                            h3.font-sm.font-w-lg.color-darck إدارة الحملات الإعلانية
                        .content-text 
                            p.font-xs.font-w-sm.color-darck إدارة جميع الحملات الإعلانية على جميع المنصات الإعلانية، بعد دراسة المتجر والمنتجات والمنافسين، بما يحقق ربحية المتجر، تعتمد إدارة الحملات على التكامل بين المنصات بما يحقق الهدف البيعي.
                        .content-link.d-flex.gap-2
                            p.font-16.font-w-sm.color-darck اعرف تفاصيل الخدمة
                            svg(xmlns="http://www.w3.org/2000/svg", width="27", height="24", viewBox="0 0 27 24", fill="none")
                                path(d="M21.5146 12H6.15465", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M13.834 5L6.15398 12L13.834 19", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                    .content-img 
                        img(src="../static/Home-images/first-img-instagred.svg", alt="")
            .col-lg-6.position.d-flex.pb-4.position-relative
                .theCrad.bg-yellow
                    .content-card 
                        .content-title
                            h3.font-sm.font-w-lg.color-darck إدارة الحملات الإعلانية
                        .content-text 
                            p.font-xs.font-w-sm.color-darck إدارة جميع الحملات الإعلانية على جميع المنصات الإعلانية، بعد دراسة المتجر والمنتجات والمنافسين، بما يحقق ربحية المتجر، تعتمد إدارة الحملات على التكامل بين المنصات بما يحقق الهدف البيعي.
                        .content-link.d-flex.gap-2
                            p.font-16.font-w-sm.color-darck اعرف تفاصيل الخدمة
                            svg(xmlns="http://www.w3.org/2000/svg", width="27", height="24", viewBox="0 0 27 24", fill="none")
                                path(d="M21.5146 12H6.15465", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M13.834 5L6.15398 12L13.834 19", stroke="black", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                    .content-img 
                        img(src="../static/Home-images/first-img-instagred.svg", alt="")
            .col-lg-6.d-flex.pb-4.position-relative 
                .theCrad.bg-purple
                    .content-card 
                        .content-title
                            h3.font-sm.font-w-lg.color-wight إدارة الحملات الإعلانية
                        .content-text 
                            p.font-xs.font-w-sm.color-wight إدارة جميع الحملات الإعلانية على جميع المنصات الإعلانية، بعد دراسة المتجر والمنتجات والمنافسين، بما يحقق ربحية المتجر، تعتمد إدارة الحملات على التكامل بين المنصات بما يحقق الهدف البيعي.
                        .content-link.d-flex.gap-2 
                            p.font-16.font-w-sm.color-wight اعرف تفاصيل الخدمة
                            svg(xmlns="http://www.w3.org/2000/svg", width="27", height="24", viewBox="0 0 27 24", fill="none")
                                path(d="M21.5146 12H6.15465", stroke="white", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                path(d="M13.834 5L6.15398 12L13.834 19", stroke="white", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                    .content-img 
                        img(src="../static/Home-images/first-img-instagred.svg", alt="")                                    