section.Connect-with-us
    .container 
        .row
            .col-lg-6.pb-5.d-flex.align-items-center
                .content
                    .content-title 
                        h2.color-darck.font-bold.font-w-lg.pb-1 جاهز تتواصل معنا؟
                    .content-text
                        p.colo-darck.font-smole.font-w-sm.pb-5 احصل على استشارة تسويقية مجانية حول متجرك الإلكتروني واستطلع فرص النمو مع مكاسب
                    .content-btn.btn-outline
                        a(href="#" class="font-xs font-w-md color-purple") تواصل معنا
            .col-lg-6.d-flex
                .content-img 
                    img(src="../static/Home-images/Connect with us-img.svg", alt="img" title="img")            