section.Success-stories
    .container
        .content-parent 
            .conent-title 
                h4.color-darck.font-bold.font-w-lg.pb-4.mt-4 قصص نجاح المتاجر
            .content-btn.btn-outline
                a(href="#" class="font-xs.font-w-sm") المزيد من قصص النجاح
        .row
            .col-lg-4.pb-4
                .card.card-gray
                    .card-hearder
                        img(src="../static/Home-images/Success-stories-card-tow.svg", alt="alt" title="img" class="width-md")
                    .card-body
                        .card-title
                            h5.color-darck.font-sm.font-w-md متجر فهد القنون
                        .card-text
                            p.color.darck.font-xs.font-w-sm التوصل إلى المزيج التسويقي الصحيح، سواء منصات التسويق، أو الأنشطة التسويقية وتخصيص الميزانية لتحقيق الهدف البيعي قريب المدى، وخطة النمو بعيدة المدى.
            .col-lg-4.pb-4    
                .card.card-gray
                    .card-hearder
                        img(src="../static/Home-images/Success-stories-card-img.svg", alt="alt" title="img" class="width-md")
                    .card-body 
                        .card-title
                            h5.color-darck.font-sm.font-w-md متجر العسل البري
                        .thcard-text 
                            p.color.darck.font-xs.font-w-sm التوصل إلى المزيج التسويقي الصحيح، سواء منصات التسويق، أو الأنشطة التسويقية وتخصيص الميزانية لتحقيق الهدف البيعي قريب المدى، وخطة النمو بعيدة المدى
            .col-lg-4.pb-4    
                .card.card-gray
                    .card-hearder
                        img(src="../static/Home-images/Success-stories-card-three.svg", alt="alt" title="img" class="width-md")
                    .card-body
                        .card-title
                            h5.color-darck.font-sm.font-w-md متجر فهد القنون
                        .card-text 
                            p.color.darck.font-xs.font-w-sm التوصل إلى المزيج التسويقي الصحيح، سواء منصات التسويق، أو الأنشطة التسويقية وتخصيص الميزانية لتحقيق الهدف البيعي قريب المدى، وخطة النمو بعيدة المدى.                 