<!DOCTYPE html>
html(dir="rtl" lang="ar")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title نساعد المتاجر الإلكترونية على تحقيق النمو.
        link(rel="stylesheet", href="../static/Logo-icon.svg")
        link(rel="stylesheet", href="../Bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="../Font Awesome/css/all.min 3.29.16 PM.css")
        link(rel="stylesheet", href="../sass/app.css")
    body
        block content
        script(src="../Bootstrap/js/bootstrap.min.js")
        script(src="../Font Awesome/js/all.min.js") 
        